<link rel="stylesheet" href="/styles/app_common.css">
<style>
  #submit_mock {
    margin-top: 20px;
  }
  .error {
    border: solid 1px red;
    color: red;
    padding: 10px;
  }
  .success {
    border: solid 1px green;
    color: green;
    padding: 10px;
  }
  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #1eb76e;
  }
  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #1eb76e;
  }
</style>


<%- partial('../partials/navbar.ejs', {active: 'userEdit'}) %>

<div class="container">
 <div class="heading-bg">
   <h5 class="left-align white-text main-heading">Welcome</h5>
 </div>
 <div class="my-main-card hoverable">
 <p class="white-text">Welcome to Code2Create Webapp! This app is made to handle registrations. Here you can <a href="/team/new">create a team</a>, and then send requests to others. Or you can accept request from others.

     
   </p>
 </div>
</div>

<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>

<script type="text/javascript">
 <% if(typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err){ %>
  sweetAlert("Error", "<%=flash.err%>", "error");
  <% } %>
  <% if(typeof flash !== 'undefined' && typeof flash.success !== 'undefined' && flash.success){ %>
    sweetAlert("success", "<%=flash.success%>", "success");
    <% } %>
  </script>
