<link rel="stylesheet" type="text/css" href="/styles/hamburger.min.css">
<link rel="stylesheet" href="/styles/home_slider.css?122">
<link rel="stylesheet" type="text/css" href="/styles/team.css?11">
<link rel="stylesheet" type="text/css" href="/styles/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/styles/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/styles/owl.theme.green.min.css">
<link rel="stylesheet" type="text/css" href="/styles/home.css?1220">
<style>
  .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      .reg-closed{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        border: dashed 1px #fff;
        color: #1eb76e;
      }
    </style>


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
  <![endif]-->
<div class="hero-div-baap" id="home">
  <div class="hero-div">
    <ul class="cb-slideshow">
      <li><span>Image 01</span></li>
      <li><span>Image 02</span></li>
      <li><span>Image 03</span></li>
      <li><span>Image 04</span></li>
      <li><span>Image 05</span></li>
      <li><span>Image 06</span></li>
    </ul>
    <div class="container-fluidd hero-content">
      <div class="row center">
        <br>
        <img src="/images/logowhite.png" class="logo-c2c wow fadeInDown" data-wow-delay="0.5s">
      </div>
      <div class="row center white-text" style="margin-top: -20px;">
        <h5 class="moto center hide-on-small-only">
          <i class="fa fa-calendar smooth-transition hero-fa" aria-hidden="true"></i>
          March 22-24, 2019 &nbsp;| &nbsp;
          ACM-VIT<span class="">&nbsp; | &nbsp;</span>
          <i class="fa fa-map-marker smooth-transition hero-fa" aria-hidden="true"></i> VIT University
        </h5>
        <h5 class="moto center hide-on-med-and-up">
          ACM-VIT
          <br>
          <i class="fa fa-calendar smooth-transition hero-fa" aria-hidden="true"></i>
          March 22-24, 2019 &nbsp;| &nbsp;
          <i class="fa fa-map-marker smooth-transition hero-fa" aria-hidden="true"></i> VIT University
        </h5>
      </div>
      <h4 class="center white-text">Create | Learn | Innovate</h4>
      <div class="row type-row">
        <div class="container">
          <div class="type-div center" id="type1">
            <!--    <span class="type-no" id="type_no"></span> -->
            <span class="type-text" id="type_text"></span>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="center" style="border-style: none;">
          <div class="hide-on-small-only">
            <!-- <h5 class="center"><a href="http://skll.in/code2create18" style="color: rgb(60,190,136);">REGISTER NOW</a></h5> -->
            <a href="#" class="myButton wow fadeInDown" style="background-color:rgba(20,157,100,1); color: white;">COMING SOON</a>
          </div>
          <div class="hide-on-med-and-up">
            <!-- <h6 class="center"><a href="/comingSoon" style="color: rgb(135,205,173);">KNOW ABOUT REGISTRATION</a></h6> -->
            <a href="#" class="myButtonSM wow fadeInDown" style="background-color:rgba(20,157,100,1); color: white;">COMING SOON</a>
          </div>
        </div>
      </div>
      <div class="row hide register-but-div center">
        <!--   <button class="hero-register-but waves-effect smooth-transition disable disabled" disabled style="margin:10px;">Register</button> -->
        <a href="/login">

          <button class="hero-register-but waves-effect smooth-transition" style="margin:10px;">Login</button>
        </a>
      </div>
      <br>
    </div>
  </div>

</div>
<div class="nav-wrap">
  <div class="nav-placeholder">
  </div>
  <nav class="smooth-transition navelem">
    <div class="nav-wrapper">
      <a class="brand-logo" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);"><img src="images/c_only.png"
          class="responsive-img"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="navlink a-home" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
        </li>
        <li><a class="navlink a-about" onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
        </li>
        <li><a class="navlink a-faqs" onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
        </li>
        <li><a class="navlink a-sponsors" onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
        </li>
        <li><a class="navlink a-organisers" onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
        <li><a class="navlink a-contactus" onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
            Us</a></li>
        <!-- <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/login">Login</a></li> -->
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="navlink a-home" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
        </li>
        <li><a class="navlink a-about" onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
        </li>
        <li><a class="navlink a-faqs" onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
        </li>
        <li><a class="navlink a-sponsors" onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
        </li>
        <li><a class="navlink a-organisers" onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
        <li><a class="navlink a-contactus" onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
            Us</a></li>
        <!--      <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/register">Register</a></li> -->
        <!-- <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/login">Login</a></li> -->
      </ul>
    </div>
  </nav>
</div>

<div class="about-wrap" id="about">
  <div class="container container-little-big">
    <div class="row">
      <div class="col s12 center wow fadeInUp">
        <h3 class="heading white-text center">About</h3>
      </div>
      <div class="col s12">
        <br>
        <br><br>
      </div>
      <div class="about-box smooth-transition about-c2c col m5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="center">
          <h4 class="heading center">Code2Create</h4>
        </div>
        <p class="center" style="text-align: justify;" id="about-box-c2c">A thrilling tech sprint awaited by all
          techies, Code2Create saw an explosion of technicality. Code2Create is all about designing, building and
          creating; a place where graphic designers, software developers, app developers and web developers collaborate
          intensively on projects. It is an outburst of technology, a tech marathon – it is Code2Create. Code2Create'17
          saw more than 300 participants. The judges were renowned experts in their respective fields.
        </p>
      </div>
      <div class="col s12 hide-on-med-and-up">
        <br>
      </div>
      <div class="about-box smooth-transition about-acm col m5 offset-m2 wow fadeInUp" data-wow-delay="0.5s">
        <div class="center">
          <h4 class="heading center">ACM VIT</h4>
        </div>
        <p class="" style="text-align: justify;" id="about-box-acm">Right from its inception in 2009, the ACM VIT
          Student Chapter has been organising and conducting succesful technical and professional development events.
          It hosted Compute 2013, the 6th ACM India Computing Convention from 22nd to 24th August, 2013, as well as the
          first All India ACM Chapters Meet on 24th August, 2013. It has credentials in web/mobile applications
          development and machine learning. The websites "All About VIT" and "VIT Cab Share" are some of the treasured
          creations of its core members. Technology is its cause and education is its objective.
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="faqs-wrap" id="faqs">
  <div class="container-little-big container">
    <div class="row">
      <div class="col s12 center wow fadeInDown">
        <h3 class="heading white-text center">FAQs</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center">
        <div class="faqs-div-wrap wow fadeInUp" id="faqs-div-wrap-1">
          <div class="faq-wrapper" data-id="1">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Who all can register?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  Any and all students from all over the country can register. We welcome you all!
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="2">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What are the registration fees?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  Nothing, it’s absolutely free!
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="3">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What kind of hackathon is this?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  This is a software hackathon. Although participants may use hardware if they wish to, they will be
                  judged on their software implementation.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="4">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                How many people can I have on my team?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  You can have 1 to 4 people per team. You should either create your own team or accept invitations
                  from other team admins.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="5">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What tracks does this hack include?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  For now we introduce the following tracks:
                  <br>
                  -FinTech
                  <br>
                  -Smart Cities
                  <br>
                  -Education
                  <br>
                  -Health Care
                  <br>
                  -Space
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="6">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                How do I choose my track?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  When you <a href="#" target="_blank">register</a> we
                  will ask you to submit your idea proposal and on the basis of your idea we will have shortlisting.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 center">
        <div class="faqs-div-wrap wow fadeInUp" id="faqs-div-wrap-2">
          <div class="faq-wrapper" data-id="7">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                How do I qualify for the pitching round?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  There will be a technical inspection on Day 2 during the hack. After the inspection, we will
                  shortlist 120 participants. These 120 participants will get a chance to present their hack in the
                  expo for evaluation.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="8">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Is it only about technology?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p> We are tech enthusiasts but we believe 'All work and no play makes Jack a dull boy'.&nbsp
                  We have numerous fun activities planned for you.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="9">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Who will be on the Judging panel?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p> We have experts from IBM, ACM India and Startup ecosphere to look into the details of your amazing
                  projects.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="10">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What all can I win?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>Cash prizes, original licenses for various softwares, cloud credits, exclusive goodies and swags for
                  winners. The best app built using the Hasura GraphQL Engine will win a Rs.5000 gift coupon from Flipkart.
                   But we have something special back in store for every participant.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="11">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What if I get hungry or need internet connection?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p> We’ll provide you with delicious food at regular intervals (breakfast, lunch, dinner and snacks)
                  along with beverages. Also, you will be provided with free access to our beloved internet facility,
                  VOLSBB.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="12">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What about accommodation for externals?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p> We will not be providing any accomodation for external students. We expect our participants to stay
                  at the venue for the full hack.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="sponsors-wrap" id="sponsors">
  <div class="container">
    <div class="col s1 center wow fadeInUp">
      <h4 class="heading white-text">Sponsors</h4>
    </div>
    <div class="col s12">
      <br>
    </div>
    <!-- <div class="row sponPad fadeInUp">

        <div class="col m4 s12 center">
          <img src="/images/sponsors/transits.png" class="sponsors-pic center wow fadeInDown responsive-img ">
        </div>
        <div class="col m4 s12 center">
          <br><br>
          <img src="/images/sponsors/tricentis.png" class="sponsors-pic  center wow fadeInDown responsive-img" style="margin-top:5px;">
        </div>
        <div class="col m4 s12 center">
          <img src="/images/sponsors/paypal.png" class="sponsors-pic wow center fadeInDown responsive-img ">
        </div>
    </div>
    <div class="row sponPad fadeInUp">

        <div class="col m4 s12 center">
            <img src="/images/sponsors/union.png" class="sponsors-pic wow center fadeInDown responsive-img ">
          </div>
          <div class="col m4 s12 center">
            <br><br>
            <img src="/images/sponsors/oil_t.png" class="sponsors-pic  wow center fadeInDown responsive-img" style="margin-top:5px;">
          </div>
          <div class="col m4 s12 center">
            <img src="/images/sponsors/dakshinamurti.png" class="sponsors-pic wow center fadeInDown responsive-img ">
          </div>
    </div> -->
    <!-- <div class="row sponPad fadeInUp">
    <div class="col m4 s12 center">
     <img src="/images/sponsors/digitalocean.png" class="sponsors-pic wow center fadeInDown responsive-img " >
   </div>
   <div class="col m4 s12 center">
    <img src="/images/sponsors/github.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  <div class="col m4 s12 center">
   <img src="/images/sponsors/aisec_tt.png" class="sponsors-pic wow center fadeInDown responsive-img ">
 </div>
</div> -->
    <!-- <div class="row sponPad fadeInUp ">
    <div class="col m4 s12 center">
    <img src="/images/sponsors/winuall.png" class="sponsors-pic wow center fadeInDown responsive-img " >
  </div>
  <div class="col m4 s12 center">
    <img src="/images/sponsors/vicara.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  <div class="col m4 s12 center">
  <img src="/images/sponsors/devcircle.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  </div> -->
    <!-- <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
      <img src="/images/sponsors/gamesa.png" class="sponsors-pic wow center fadeInDown responsive-img " >
    </div>
    <div class="col m4 s12 center" >
      <img src="/images/sponsors/bakers.png" class="sponsors-pic wow center  fadeInDown responsive-img ">
    </div>
    <div class="col m4 s12 center">
    <img src="/images/sponsors/digitalhar.png" class="sponsors-pic wow center fadeInDown responsive-img ">
    </div>
    </div> -->

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/dottech.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/zeplin.png" class="sponsors-pic wow center  fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center" style="margin-top: 32px;">
        <img src="/images/sponsors/hasura.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center" style="margin-top: 68px;">
        <img src="/images/sponsors/npm.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 50px; width:auto;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/jetbrains.png" class="sponsors-pic wow center  fadeInDown responsive-img " style="height: 150px; width:auto;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/git.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 150px; width:auto;">
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/bala.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/skill.png" class="sponsors-pic wow center  fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/ozone.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/github.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 40px; width:auto;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/digitalocean.png" class="sponsors-pic wow center  fadeInDown responsive-img " style="height: 50px; width:auto;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/docker.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 60px; width:auto;">
      </div>
    </div>

    <div class="row sponPad fadeInUp ">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/ibm.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 60px; width:auto;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/wolfram.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/travis.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
    </div>

    <div class="row sponPad fadeInUp ">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/sketch.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/product.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 80px; width:auto;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/gfg.png" class="sponsors-pic wow center fadeInDown responsive-img " style="padding-top: 11px;">
      </div>
    </div>

    <div class="row sponPad fadeInUp ">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/stickermule.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center" style="margin-top: 28px;">
        <img src="/images/sponsors/custombaba.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 100px; width:auto;">
      </div>
      <div class="col m4 s12 center" style="margin-top: 28px;">
        <img src="/images/sponsors/slack.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 60px; width:auto;">
      </div>
    </div>
    <div class="row sponPad fadeInUp ">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/twilio.svg" class="sponsors-pic wow center fadeInDown responsive-img " style="padding-top: 70px;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/zulip.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/acm_int.png" class="sponsors-pic wow center fadeInDown responsive-img " style="padding-top: 70px;">
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/iconscout.jpg" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 100px; width:auto;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/festsinfologo.png" class="sponsors-pic wow center  fadeInDown responsive-img ">
      </div>
      <div class="col m4 s12 center" style="margin-top: 32px;">
        <!-- <img src="/images/sponsors/cblogo.png" class="sponsors-pic wow center fadeInDown responsive-img"> -->
        <img src="/images/sponsors/foxlogo.svg" class="sponsors-pic wow center  fadeInDown responsive-img " style="height: 100px; width: auto;">
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <img src="/images/sponsors/jsp.png" class="sponsors-pic wow center fadeInDown responsive-img " style="height: 100px; width:auto; padding-top: 20px;">
      </div>
      <div class="col m4 s12 center">
        <img src="/images/sponsors/invision.png" class="sponsors-pic wow center  fadeInDown responsive-img " style="height: 150px; width: auto;">
      </div>
      <div class="col m4 s12 center" style="margin-top: 32px;">
        <img src="/images/sponsors/mlh.png" class="sponsors-pic wow center fadeInDown responsive-img ">
      </div>
    </div>
    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <a href="https://www.taskade.com/" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/taskade.svg" class="sponsors-pic wow center fadeInDown responsive-img ">
        </a>
      </div>
    </div>


  </div>
</div>
<br>
<div class="row hide">
  <div class="col s12 center wow fadeInLeft">
    <h5 class="center display-inline-block white-text">Interested in sponsoring us? Have a look at our &nbsp;</h5>
    <a href="codetocreate.pdf" target="_blank">
      <button class="ghost-btn">Sponsorship Brochure
        <span class="coming-arrow">&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </button>
    </a>
  </div>
</div>
</div>
</div>
<br><br>
<div class="organisers-wrap" id="organisers">
  <div class="container container-little-big">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text">Organisers</h4>
    </div>
    <br><br>
    <div class="row">
      <div class="col s12 wow fadeInUp">
        <div class="col m4 center">
          <img src="/images/acmlogo.png" class="responsive-img" style="padding-top: 50px;">
        </div>
        <div class="col m4 center">
          <h4 class="center in-association-text">In Association with</h4>
        </div>
        <div class="col m4 center">
          <br class="hide-on-small-only">
          <img src="/images/site.png" class="responsive-img site-logo" style="padding-top: 50px;">
        </div>
      </div>
    </div>
    <!-- <div class="center-align wow fadeInUp">
        <img src="/images/vit.png" class="responsive-img" style="height: 150px; width: auto;">
    </div> -->
    <div class="row faculty-div">
      <div class="col s12 center wow fadeInDown">
        <h4 class="center white-text heading">Faculty Organisers</h4>
        <br><br>
      </div>
      <div class="col s12 m3 offset-m2 wow fadeInUp" style="padding-top:5px;">
        <div class="member-card hrv-member-card">
          <img src="/images/people/dean_site.png" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Dr. Aswani Kumar Cherukuri</h5>
            </div>
            <h5 class="member-position">Dean<br>School of Information Technology & Engineering</h5>
          </div>
        </div>
      </div>
      <!-- <div class="col s0 m1">
        &nbsp;
      </div> -->
      <div class="col s12 m3 hrv-col wow fadeInUp" style="padding-top:5px;">
        <div class="member-card hrv-member-card">
          <img src="/images/people/hrv.png" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Prof. H.R. Vishwakarma</h5>
            </div>
            <h5 class="member-position">Faculty Coordinator<br> ACM VIT Student Chapter</h5>
          </div>
        </div>
      </div>

      <div class="col s12 m3 hrv-col wow fadeInUp" style="padding-top:5px;">
        <div class="member-card hrv-member-card">
          <img src="/images/people/divya.jpeg" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Dr. Divya <br>Udayan J</h5>
            </div>
            <h5 class="member-position">Faculty Coordinator<br> ACM VIT Student Chapter</h5>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row students-div">
      <div class="center wow fadeInDown">
        <h4 class="center white-text heading">Student Organisers</h4>
      </div>
      <br><br>
      <div class="owl-carousel owl-theme wow fadeInUp" id="owlCarousel_members">
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/suchita.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Suchita Mehta</h5>
              </div>
              <h5 class="member-position">Chair</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/Ash.nda22?fref=pb&hc_location=profile_browser" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/singhabhitej" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/abhitejsingh23/" target="_blank" style="margin-left:11px;" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/sasya.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Sasya Reddi</h5>
              </div>
              <h5 class="member-position">ACM-W Lead</h5>

              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/hardika.goyal?fref=pb&hc_location=profile_browser" target="_blank"
                  class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/hardika-goyal-294471128/" target="_blank" style="margin-left:11px;"
                  class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/navin.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Navin Agarwalla</h5>
              </div>
              <h5 class="member-position">Co-Vice Chair (Management)</h5>

              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/ban.sourishi" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/sourish1997" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/akshit.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Akshit Grover</h5>
              </div>
              <h5 class="member-position">Co-Vice Chair (Technical)</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/hkedia32" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/hkedia321" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/ankit.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Ankit Prasad</h5>
              </div>
              <h5 class="member-position">Secretary (Internal Affairs)</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/Yash.2h2o" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/akash.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Akash Tushar</h5>
              </div>
              <h5 class="member-position">Secretary (External Affairs)</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/profile.php?id=100009652089796" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/bodhwani" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/deep.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Deep Baldha</h5>
              </div>
              <h5 class="member-position">Competitive Lead</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/shivamchawla60" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Shivam60" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/prateek.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Prateek Singh</h5>
              </div>
              <h5 class="member-position">Web Master</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/rishabhjain22sep" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/pravigya.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Pravigya Pariyar</h5>
              </div>
              <h5 class="member-position">Research Lead</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/anant.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Anant Mishra</h5>
              </div>
              <h5 class="member-position">Dev-Ops Lead</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/muffadal.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Mufaddal</h5>
              </div>
              <h5 class="member-position">App-Dev Lead</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/sanya.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Sanya Taneja</h5>
              </div>
              <h5 class="member-position">Outreach Head</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/tanmay.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Tanmay Jain</h5>
              </div>
              <h5 class="member-position">UI/UX Lead</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/shyamli.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Shyamli Singh</h5>
              </div>
              <h5 class="member-position">Program Lead</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/mudit.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Mudit Agarwal</h5>
              </div>
              <h5 class="member-position">Treasurer</h5>
              <div class="member-social-links text-center">
                <!-- <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
<br><br>
<div class="contactus-wrap" id="contactus">
  <div class="container">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text">Contact Us</h4>
    </div>
    <br><br>
    <div class="row center contactus-info">
      <div class="addressdiv col s12 m3 center"><i class="fa fa-map-marker smooth-transition" aria-hidden="true"></i>
        &nbsp;VIT Vellore
      </div>
      <div class="emaildiv col s12 m5 center">
        <i class="fa fa-envelope smooth-transition" aria-hidden="true"></i>&nbsp;<a href="mailto:outreach.acmvit@gmail.com"
          class="" target="_blank">outreach.acmvit@gmail.com</a>
      </div>
      <div class="phndiv col s12 m4 center">
        <i class="fa fa-phone-square smooth-transition" aria-hidden="true"></i>&nbsp;+91
        8849691453
      </div>
    </div>
    <div class="row wow fadeIn">
      <form action="/contact/create" method="post">
        <div class="col s12">
          <div class="input-field col s12 m6">
            <input id="name_contact" type="text" name="name" required>
            <label for="name_contact">Name</label>
          </div>
          <div class="input-field col m6 s12">
            <input id="email_contact" type="email" name="email" required data-success="seems good" data-error="something is wrong">
            <label for="email_contact">Email</label>
          </div>
          <div class="input-field col s12">
            <input type="text" name="subject" required id="subject">
            <label for="subject">Subject</label>
          </div>
          <div class="input-field col s12">
            <textarea id="message_contact" class="materialize-textarea" name="message" required></textarea>
            <label for="message_contact">Message</label>
          </div>
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <div class="col s12 center-align">
            <button class="btn waves-effect waves-light contact-sub-but" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>

<div class="contactus-wrap" id="contactus">
  <div class="container">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text" style="margin-top: 80px;">SUBSCRIBE FOR UPDATES</h4>
    </div>
    <br><br>

    <form action="/" style="margin-bottom: 50px;" method="post">
      <div class="row">
        <div class="input-field wow fadeInUp col s6">
          <input id="mail" type="text" name="email" required>
          <label for="mail">EMAIL</label>
        </div>
        <div class="col s6 wow fadeInUp center-align input-field">
          <button class="btn waves-effect waves-light contact-sub-but" type="submit" name="action">SUBSCRIBE
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

<!-- <div class="center-align">
     <iframe
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/94997368-d7cf-4391-8cee-15f4d196937f">
    </iframe>
    
</div> -->
<!-- <div class="gallery-wrapper center-align">
     <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text" style="margin-top: 80px;">INSIGHTS</h4>
    </div>
    
     <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="/images/insights/1.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/2.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/3.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/4.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/5.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/6.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/7.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/8.jpg" ></a>
      </div>
</div> -->

<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
<script type="text/javascript" src="/js/vendor/typewriter.js?11"></script>
<script type="text/javascript" src="/js/type.js"></script>
<script type="text/javascript" src="/js/nav.js?110"></script>
<script type="text/javascript" src="/js/faq.js?110"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/owl.navigation.js"></script>
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
<script type="text/javascript">
  function set_height() {
    var hero_div_ht = $(".hero-div").height();
    $(".cb-slideshow").css("min-height", hero_div_ht + 'px');
  }
  $(window).ready(function () {
    set_height();

    $(window).resize(function () {
      set_height();
    });
  });
</script>
<script type="text/javascript">

  $(document).ready(function () {
    $('#owlCarousel_sponsors').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 3
        }
      }
    })
  });
  $(document).ready(function () {
    $('#owlCarousel_members').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 4
        }
      }
    })
  });
</script>

<script type="text/javascript">

  var c2c_h = $("#about-box-c2c").height();
  var acm_h = $("#about-box-acm").height();
  set_height_box();
  $(window).resize(function () {
    set_height_box();
  });
  function set_height_box() {
    if (window.innerWidth > 769) {
      if (c2c_h > acm_h) {
        $("#about-box-acm").height(c2c_h);
      }
      else {
        $("#about-box-c2c").height(acm_h);
      }
    }
  }

</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.carousel').carousel();
  });
</script>
<script type="text/javascript">
 <% if (typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err) { %>
    sweetAlert("Error", "<%=flash.err%>", "error");
  <% } %>
  <% if (typeof flash !== 'undefined' && typeof flash.success !== 'undefined' && flash.success) { %>
    sweetAlert("success", "<%=flash.success%>", "success");
    <% } %>
</script>