<link rel="stylesheet" type="text/css" href="/styles/hamburger.min.css">
<link rel="stylesheet" href="/styles/home_slider.css?122">
<link rel="stylesheet" type="text/css" href="/styles/team.css?11">
<link rel="stylesheet" type="text/css" href="/styles/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/styles/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/styles/owl.theme.green.min.css">
<link rel="stylesheet" type="text/css" href="/styles/home.css?1220">
<style>
  .error {
    border: solid 1px red;
    color: red;
    padding: 10px;
  }

  .success {
    border: solid 1px green;
    color: green;
    padding: 10px;
  }

  .reg-closed {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: dashed 1px #fff;
    color: #1eb76e;
  }

  .location-icon:hover path, .calendar-icon:hover path {
    fill: #48ba86;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
    /* color: #48ba86; */
  }

  /* devfolio button */
  #devfolio-apply-now2 {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #48ba86;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
    text-transform: none;
    margin: 0 auto;
    /* box-shadow: 1px 1px 61px; */
  }

  #devfolio-apply-now2:not([disabled]) {
    cursor: pointer;
  }

  #devfolio-apply-now2:hover {
    /* background-color: #2b854c !important; */
    opacity: .9;
    transition: .3s;
  }

  #devfolio-apply-now2 .logo {
    /* Please keep the color of Devfolio logo mark either whit
        e (#FFFFFF) or black (#000000) */
    fill: #fff;
  }

  #devfolio-apply-now2>#text {
    font-size: 10px;
  }

  #devfolio-register-form2 input, #devfolio-login-form2 input {
    box-sizing: border-box !important;
    border-bottom: none !important;
  }.hero-div {
    height: 93vh;
  }
  .hero-content{
    margin: 0;
    padding-top: 13vh;
  }
  /* nav {
    background-color: #1e1e1e !important;
  } */
  .cb-slideshow {
    opacity: .5;
  }
  .spons-mtop {
    margin-top: 30px;
  }

  .he-register {
    margin-top: 1.5em !important;
  }
  .he-register-helpertext {
    color: white;
    margin-top: 10px !important;
  }
  
  .tim{
    width: 250px !important;
  }
  @media only screen and (max-width: 600px) {
    .spons-mtop {
      margin-top: 0;
    }
  }
</style>


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
  <![endif]-->
<div class="hero-div-baap" id="home">
  <div class="hero-div">
    <ul class="cb-slideshow">
      <li><span>Image 01</span></li>
      <li><span>Image 02</span></li>
      <li><span>Image 03</span></li>
      <li><span>Image 04</span></li>
      <li><span>Image 05</span></li>
      <li><span>Image 06</span></li>
    </ul>
    <div class="container-fluidd hero-content">
      <div class="row center">
        <br>
        <img src="/images/C2C_Logo.svg" class="logo-c2c wow fadeInDown" data-wow-delay="0.5s">
      </div>
      <div class="row center white-text" style="margin-top: 40px;">
        <h5 class="moto center hide-on-small-only">
          <!-- <i class="fa fa-calendar smooth-transition hero-fa" aria-hidden="true"></i> -->
          <span>
            <svg class="calendar-icon" style="width:24px;height:24px;vertical-align:bottom;" viewBox="0 0 24 24">
              <path fill="#FFFFFF" d="M9,10H7V12H9V10M13,10H11V12H13V10M17,10H15V12H17V10M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V8H19V19Z" />
            </svg>
            March 22-24, 2019
          </span> 
          <strong><span>&nbsp;| &nbsp;</span></strong>
          ACM-VIT<span class="">&nbsp; | &nbsp;</span>
          <!-- <i class="fa fa-map-marker smooth-transition hero-fa" aria-hidden="true"></i>  -->
          <svg class="location-icon" style="width:24px;height:24px;vertical-align:bottom;" viewBox="0 0 24 24">
            <path fill="#FFFFFF" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
          </svg>
          VIT University
        </h5>
        <h5 class="moto center hide-on-med-and-up">
          ACM-VIT
          <br>
          <span>
            <svg class="calendar-icon" style="width:24px;height:24px;vertical-align:bottom;" viewBox="0 0 24 24">
              <path fill="#FFFFFF" d="M9,10H7V12H9V10M13,10H11V12H13V10M17,10H15V12H17V10M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V8H19V19Z" />
            </svg>
          </span>
          March 22-24, 2019 &nbsp;|
          <svg class="location-icon" style="width:24px;height:24px;vertical-align:bottom;" viewBox="0 0 24 24">
            <path fill="#FFFFFF" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
          </svg>
          VIT University
        </h5>
      </div>
      <div class="row type-row">
        <div class="container">
          <div class="type-div center" id="type1">
            <!--    <span class="type-no" id="type_no"></span> -->
            <span class="type-text" id="type_text"></span>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="center" style="border-style: none;">
          <div class="hide-on-small-onl" style="color:white">
            <!-- <h5 class="center"><a href="http://skll.in/code2create18" style="color: rgb(60,190,136);">REGISTER NOW</a></h5> -->
            <!-- <a href="#" class="myButton wow fadeInDown" style="background-color:rgba(20,157,100,1); color: white;">COMING SOON</a> -->
            <!-- <button id="devfolio-apply-now"><svg class="logo" xmlns="htt
              p://www.w3.org/2000/svg" viewBox="0 0 115.46 123.46" style="height:24px;
              width:24px;margin-right:8px">
                <path d="M115.46 68a55.
              43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-1
              0.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 1
              3.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05
              1.05.08 2.18.08 3.34z" />
                <path d="M110.93 55.87A55.43 55.43 0 0
              1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-
              83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 5
              5.41 0 0 1 50.58 55.34z" /></svg>Register Now</button> -->

              <a href="#"><button href="#" id="devfolio-apply-now2" class="he-register">Registrations Closed</button></a>
             <!-- <p class="he-register-helpertext">Only for Internals</p> -->
             <!-- (Only for Internals) -->
          </div>
          <!-- <div class="hide-on-med-and-up">
            <button id="devfolio-apply-now"><svg class="logo" xmlns="htt
              p://www.w3.org/2000/svg" viewBox="0 0 115.46 123.46" style="height:24px;
              width:24px;margin-right:8px">
                <path d="M115.46 68a55.
              43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-1
              0.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 1
              3.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05
              1.05.08 2.18.08 3.34z" />
                <path d="M110.93 55.87A55.43 55.43 0 0
              1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-
              83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 5
              5.41 0 0 1 50.58 55.34z" /></svg>Register Now</button>
          </div> -->
        </div>
      </div>
      <h4 class="center white-text" style="margin-top: 40px;"><b>Evolution</b>&nbsp; <span style="color: rgba(255,255,255,0.7)">through</span> &nbsp;<b>Innovation</b></h4>
      <div class="row hide register-but-div center">
        <!--   <button class="hero-register-but waves-effect smooth-transition disable disabled" disabled style="margin:10px;">Register</button> -->
        <a href="/login">

          <button class="hero-register-but waves-effect smooth-transition" style="margin:10px;">Login</button>
        </a>
      </div>
      <br>
    </div>
  </div>
</div>

<!-- NAVBAR -->
<div class="nav-wrap">
  <div class="nav-placeholder">
  </div>
  <nav class="smooth-transition navelem">
    <div class="nav-wrapper">
      <a class="brand-logo" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);"><img
          src="images/c_only.png" class="responsive-img"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="navlink a-home"
            onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
        </li>
        <li><a class="navlink a-about"
            onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
        </li>
        <li><a class="navlink" href="/conduct">Conduct</a></li>
        <li><a class="navlink a-faqs"
            onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
        </li>
        <li><a class="navlink a-sponsors"
            onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
        </li>
        <li><a class="navlink a-organisers"
            onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
        <li><a class="navlink a-contactus"
            onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
            Us</a></li>
        <!-- <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/login">Login</a></li> -->
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="navlink a-home"
            onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
        </li>
        <li><a class="navlink a-about"
            onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
        </li>
        <li><a class="navlink" href="/conduct">Conduct</a></li>
        <li><a class="navlink a-faqs"
            onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
        </li>
        <li><a class="navlink a-sponsors"
            onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
        </li>
        <li><a class="navlink a-organisers"
            onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
        <li><a class="navlink a-contactus"
            onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
            Us</a></li>
        <!--      <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/register">Register</a></li> -->
        <!-- <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/login">Login</a></li> -->
      </ul>
    </div>
  </nav>
</div>

<!-- ABOUT SECTION -->
<div class="about-wrap" id="about">
  <div class="container container-little-big">
    <div class="row">
      <div class="col s12 center wow fadeInUp">
        <h3 class="heading white-text center">About</h3>
      </div>
      <div class="col s12">
        <br>
        <br><br>
      </div>
      <div class="about-box smooth-transition about-c2c col m5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="center">
          <h4 class="heading center">Code2Create</h4>
        </div>
        <p class="center" style="text-align: justify;" id="about-box-c2c">A thrilling tech sprint awaited by numerous innovators, 
          Code2Create witnesses a plethora of skill sets. Code2Create is all about designing, building and creating; a place where graphic designers, 
          software developers, app developers, and web developers collaborate intensively on projects. Code2Create'18 saw more than 500 participants. 
          The judges were renowned experts in their respective fields. Participants from across the country indulge in 36 hours of intense brainstorming, 
          designing, creating and testing, along with some engaging and very enjoyable side quests. 
          Code2Create is ACM-VIT’s flagship event and one of the grandest annual events hosted in VIT.
        </p>
      </div>
      <div class="col s12 hide-on-med-and-up">
        <br>
      </div>
      <div class="about-box smooth-transition about-acm col m5 offset-m2 wow fadeInUp" data-wow-delay="0.5s">
        <div class="center">
          <h4 class="heading center">ACM VIT</h4>
        </div>
        <p class="" style="text-align: justify;" id="about-box-acm">Right from its inception in 2009, 
          the ACM VIT Student Chapter has been organizing and conducting successful technical and professional development events. 
          It hosted Compute 2013, the 6th ACM India Computing Convention from 22nd to 24th August 2013, 
          as well as the first All India ACM Chapters Meet on 24th August 2013. It has credentials in web/mobile applications development and machine learning. 
          The websites "All About VIT" and "VIT Cab Share" are some of the treasured creations of its core members. 
          Technology is its cause and education its objective
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>

<!-- FAQS -->
<div class="faqs-wrap" id="faqs">
  <div class="container-little-big container">
    <div class="row">
      <div class="col s12 center wow fadeInDown">
        <h3 class="heading white-text center">FAQs</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="col s12 l6 center">
        <div class="faqs-div-wrap wow fadeInUp" id="faqs-div-wrap-1">
          <div class="faq-wrapper" data-id="1">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Who all can register?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  Students from all over the country are eligible to participate in Code2Create. Everybody is welcome to make a difference.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="2">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What will the hackathon cost me?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  Nothing, it's absolutely free. You cannot put a price on groundbreaking ideas.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="3">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What do I bring along with me?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  Bring your laptops, chargers, invigorated minds and a desire to design a new and better world.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="4">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What kind of a hackathon is Code2Create?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  Code2Create is a software-based hackathon.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="5">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                How many members can constitute a team?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>You can have up to 4 members in a team.</p>
              </div>
            </div>
          </div>

          <div class="faq-wrapper" data-id="6">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What if I get hungry or need internet connection?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  We will provide you with delicious food and beverages at regular intervals (breakfast, lunch, dinner, and snacks). Also, you will be provided with free access to our beloved internet facility, VOLSBB.
                </p>
              </div>
            </div>
          </div>

          <div class="faq-wrapper" data-id="7">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Will there be accommodation for external participants?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  We will not be providing any accommodation. We expect our participants to stay at the venue for the entire duration of the hackathon.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6 center">
        <div class="faqs-div-wrap wow fadeInUp" id="faqs-div-wrap-2">

          <div class="faq-wrapper" data-id="8">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                How do I choose my track?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <!-- <p>
                  When you <a href="#" target="_blank">register</a> we
                  will ask you to submit your idea proposal and on the basis of your idea we will have shortlisting.
                </p> -->
                <p>The tracks will be announced soon. Please stay tuned and excited for the big reveal.</p>
              </div>
            </div>
          </div>

          <div class="faq-wrapper" data-id="9">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Can I start working on my hack before the hackathon?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  No, you are not permitted to work on pre-existing projects in the hackathon. To maintain fair standards of judgment you will begin working on your hack after reporting to the venue.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="10">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                What is the qualification criterion for the pitching round?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  There will be a technical inspection on Day 2 of the hackathon. After the inspection, we will shortlist 120 participants. These 120 participants will get a chance to present their respective hacks in the expo for evaluation.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="11">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Is the hackathon only about technology?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  We are tech enthusiasts but we believe ‘All work and no play makes Jack a dull boy.’ We have numerous fun activities planned for you.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="12">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Who will be on the Judging Panel?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  We have experts from IBM, ACM India and Startup Ecosystem to look into the details of your amazing projects. 
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="13">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                How will I benefit from attending this hackathon?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  Code2Create is a place for innovators to create and make a difference. You will get an opportunity to interact with ingenious minds. In addition, we have cash prizes, licenses, schwags, cloud credits and goodies for the winner. The best app built using the Hasura GraphQL Engine will win an Rs.5000 gift card from Flipkart. Apart from this, we have something special in store for all the participants.
                </p>
              </div>
            </div>
          </div>
          
          <div class="faq-wrapper" data-id="14">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
                Will there be travel reimbursements provided?
              </div>
              <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  We do not provide reimbursements for external participants for travel expenses.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<!-- SPONSORS -->
<div class="sponsors-wrap" id="sponsors">
  <div class="container">
    <div class="col s1 center wow fadeInUp">
      <h4 class="heading white-text">Sponsors</h4>
    </div><br>
    <!-- <div class="row sponPad fadeInUp">

        <div class="col m4 s12 center">
          <img src="/images/sponsors/transits.png" class="sponsors-pic center wow fadeInDown responsive-img ">
        </div>
        <div class="col m4 s12 center">
          <br><br>
          <img src="/images/sponsors/tricentis.png" class="sponsors-pic  center wow fadeInDown responsive-img" style="margin-top:5px;">
        </div>
        <div class="col m4 s12 center">
          <img src="/images/sponsors/paypal.png" class="sponsors-pic wow center fadeInDown responsive-img ">
        </div>
    </div>
    <div class="row sponPad fadeInUp">

        <div class="col m4 s12 center">
            <img src="/images/sponsors/union.png" class="sponsors-pic wow center fadeInDown responsive-img ">
          </div>
          <div class="col m4 s12 center">
            <br><br>
            <img src="/images/sponsors/oil_t.png" class="sponsors-pic  wow center fadeInDown responsive-img" style="margin-top:5px;">
          </div>
          <div class="col m4 s12 center">
            <img src="/images/sponsors/dakshinamurti.png" class="sponsors-pic wow center fadeInDown responsive-img ">
          </div>
    </div> -->
    <!-- <div class="row sponPad fadeInUp">
    <div class="col m4 s12 center">
     <img src="/images/sponsors/digitalocean.png" class="sponsors-pic wow center fadeInDown responsive-img " >
   </div>
   <div class="col m4 s12 center">
    <img src="/images/sponsors/github.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  <div class="col m4 s12 center">
   <img src="/images/sponsors/aisec_tt.png" class="sponsors-pic wow center fadeInDown responsive-img ">
 </div>
</div> -->
    <!-- <div class="row sponPad fadeInUp ">
    <div class="col m4 s12 center">
    <img src="/images/sponsors/winuall.png" class="sponsors-pic wow center fadeInDown responsive-img " >
  </div>
  <div class="col m4 s12 center">
    <img src="/images/sponsors/vicara.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  <div class="col m4 s12 center">
  <img src="/images/sponsors/devcircle.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  </div> -->
    <!-- <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
      <img src="/images/sponsors/gamesa.png" class="sponsors-pic wow center fadeInDown responsive-img " >
    </div>
    <div class="col m4 s12 center" >
      <img src="/images/sponsors/bakers.png" class="sponsors-pic wow center  fadeInDown responsive-img ">
    </div>
    <div class="col m4 s12 center">
    <img src="/images/sponsors/digitalhar.png" class="sponsors-pic wow center fadeInDown responsive-img ">
    </div>
    </div> -->

    <div class="row sponPad fadeInUp sponsors-top-row">
      <!-- <div class="col m4 s12 center">
        <a href="https://github.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/github.png" class="sponsors-pic center fadeInDown responsive-img">
        </a>
      </div> -->
      <div class="col m12 s12 center">
        <a href="https://github.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/github.png" class="sponsors-pic center fadeInDown responsive-img">
        </a>
      </div>
      <!-- <div class="col m4 s12 center">
        <a href="https://devfolio.co" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/devfolio.svg" class="sponsors-pic center fadeInDown responsive-img">
        </a>
      </div> -->
      <!-- <div class="col m4 s12 center">
        <a href="https://matic.network" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/matic.svg" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div> -->
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center spons-mtop">
        <a href="https://www.linkedin.com/company/indriya-constructions-company" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/indriya.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://jetbrains.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/jetbrains.png" class="sponsors-pic center  fadeInDown responsive-img "
            style="height: 150px; width:auto;">
        </a>
      </div>
      <div class="col m4 s12 center spons-mtop">
        <a href="https://hasura.io" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/hasura.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <a href="https://slanglabs.in" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/SlangLabs.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://mlh.io" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/mlh.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href=" https://balsamiq.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/bala.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <a href="https://www.ibm.com/in-en/" target="blank" rel="noopener noreferrer">
          <img src="/images/sponsors/ibm.png" class="sponsors-pic center fadeInDown responsive-img "
            style="height: 60px; width:auto;">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://www.wolfram.com/language/" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/wolfram.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://www.digitalocean.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/digitalocean.png" class="sponsors-pic center  fadeInDown responsive-img "
            style="height: 50px; width:auto;">
        </a>
      </div>
    </div>

    <div class="row sponPad fadeInUp ">
      <div class="col m4 s12 center spons-mtop">
        <a href="https://www.acm.org" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/acm_int.png" class="sponsors-pic center fadeInDown responsive-img" style="width: 200px">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://www.creative-tim.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/tim.png" class="sponsors-pic center fadeInDown responsive-img tim">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://www.stickermule.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/stickermule.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
    </div>

    <div class="row sponPad fadeInUp ">
      <div class="col m4 s12 center spons-mtop">
        <a href="https://www.sketchapp.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/sketch.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://www.invisionapp.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/invision.png" class="sponsors-pic center  fadeInDown responsive-img "
            style="height: 150px; width: auto;">
        </a>
      </div>
      <div class="col m4 s12 center spons-mtop">
        <a href="https://anitab.org" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/anitaborg.jpeg" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <!-- <div class="col m4 s12 center" style="margin-top: 32px;">
        <a href="https://mlh.io" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/mlh.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div> -->
    </div>

    <div class="row sponPad fadeInUp ">
      <div class="col m4 s12 center">
        <a href="https://www.bugsee.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/bugsee.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center spons-mtop">
        <a href="https://www.taskade.com/" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/taskade.svg" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center spons-mtop">
        <a href="https://www.hackerearth.com/" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/hackerearth.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <a href="https://custombaba.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/custombaba.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/maxtherm.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href=" https://foxmula.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/foxmula.jpg" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <a href="https://tryshift.com/" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/shift.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://www.axure.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/axure.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center spons-mtop">
        <a href="https://codingblocks.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/cblogo.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
    </div>

    <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
        <a href="https://get.tech" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/dottech.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center">
        <a href="https://rosenfeldmedia.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/rsn.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
      <div class="col m4 s12 center spons-mtop">
        <a href=" https://cloudsploit.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/sponsors/cldsplt.png" class="sponsors-pic center fadeInDown responsive-img ">
        </a>
      </div>
    </div>

  </div>
</div>
<!-- <br> -->
<div class="row hide">
  <div class="col s12 center wow fadeInLeft">
    <h5 class="center display-inline-block white-text">Interested in sponsoring us? Have a look at our &nbsp;</h5>
    <a href="codetocreate.pdf" target="_blank">
      <button class="ghost-btn">Sponsorship Brochure
        <span class="coming-arrow">&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </button>
    </a>
  </div>
</div>
</div>
</div>
<br><br>
<!-- ORGANISERS -->
<div class="organisers-wrap" id="organisers">
  <div class="container container-little-big">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text">Organisers</h4>
    </div>
    <!-- <br><br> -->
    <div class="row">
      <div class="col s12 wow fadeInUp organisers-logo-div">
        <div class="col s12 l4 center">
          <img src="/images/acmlogo.png" class="responsive-img" style="padding-top: 50px;">
        </div>
        <div class="col s12 l4 center">
          <h4 class="center in-association-text">In Association with</h4>
        </div>
        <div class="col s12 l4 center">
          <br class="hide-on-small-only">
          <img src="/images/site.png" class="responsive-img site-logo" style="padding-top: 50px;">
        </div>
      </div>
    </div>
    <!-- <div class="center-align wow fadeInUp">
        <img src="/images/vit.png" class="responsive-img" style="height: 150px; width: auto;">
    </div> -->
    <br><br>
    <!-- faculty organisers -->
    <div class="row faculty-div">
      <div class="col s12 center wow fadeInDown">
        <h4 class="center white-text heading">Faculty Organisers</h4>
        <br><br>
      </div>
      <div class="col s12 l3 wow fadeInUp" style="padding-top:5px;">
        <div class="member-card hrv-member-card">
          <img src="/images/people/dean_site.jpg" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Prof. Balakrushna Tripathy</h5>
            </div>
            <h5 class="member-position">Dean<br>School of Information Technology & Engineering</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3 wow fadeInUp" style="padding-top:5px;">
        <div class="member-card hrv-member-card">
          <img src="/images/people/dean_site.png" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Dr. Aswani Kumar Cherukuri</h5>
            </div>
            <h5 class="member-position">Faculty Coordinator<br> ACM VIT Student Chapter</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3 wow fadeInUp" style="padding-top:5px;">
        <div class="member-card hrv-member-card">
          <img src="/images/people/hrv.png" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Prof. H.R. Vishwakarma</h5>
            </div>
            <h5 class="member-position">Faculty Coordinator<br> ACM VIT Student Chapter</h5>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l3 wow fadeInUp" style="padding-top:5px;">
        <div class="member-card hrv-member-card">
          <img src="/images/people/divya.jpeg" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Dr. Divya <br>Udayan J</h5>
            </div>
            <h5 class="member-position">Faculty Coordinator<br> ACM VIT Student Chapter</h5>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <!-- student orgainsers -->
    <div class="row students-div">
      <div class="center wow fadeInDown">
        <h4 class="center white-text heading">Student Organisers</h4>
      </div>
      <br>
      <div class="owl-carousel owl-theme wow fadeInUp" id="owlCarousel_members">
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/suchita.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Suchita Mehta</h5>
              </div>
              <h5 class="member-position">Chair</h5>
              <div class="member-social-links text-center">
                <a href="https://www.facebook.com/suchita.mehta.712" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                </a>
                <!-- <a href="https://github.com/SUCHITA-MEHTA" target="_blank" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                </a> -->
                <a href="https://www.linkedin.com/in/suchita-mehta-1a1610138" target="_blank" style="margin-left:11px;" class="nodecoration">
                  <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/sasya.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Sasya Reddi</h5>
              </div>
              <h5 class="member-position">ACM-W Lead</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/sasya.reddi" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <!-- <a href="https://github.com/SasyaReddi" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a> -->
                  <a href="https://www.linkedin.com/in/sasyareddi" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/navin.jpeg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Navin Agarwalla</h5>
              </div>
              <h5 class="member-position">Co-Vice Chair (Management)</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/navin.agarwal.370" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <!-- <a href="https://github.com/NavinAgarwalla" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a> -->
                  <a href="https://www.linkedin.com/in/navin-agarwalla-90886414b" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/akshit.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Akshit Grover</h5>
              </div>
              <h5 class="member-position">Co-Vice Chair (Technical)</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/akshgr" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://twitter.com/akshitgrover_" 
                    style="margin-left:11px;" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/akshitgrover" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/akshit-grover" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/ankit.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Ankit Prasad</h5>
              </div>
              <h5 class="member-position">Secretary (Internal Affairs)</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/foreverankit143" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/ankit-prasad-10593b13a" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/akash.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Akash Tushar</h5>
              </div>
              <h5 class="member-position">Secretary (External Affairs)</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/imATushar" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://twitter.com/akashtushar2?s=08" 
                    style="margin-left:11px;" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/akashtushar98" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/deep.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Deep Baldha</h5>
              </div>
              <h5 class="member-position">Competitive Lead</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/CandyZacker" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <!-- <a href="https://github.com/candyzack" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a> -->
                  <a href="https://www.linkedin.com/in/deep-baldha/" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/prateek.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Prateek Singh</h5>
              </div>
              <h5 class="member-position">Web Master</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/prateekranjansingh" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/PrateekRanjanSingh" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/prateek-singh-55b699142/" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/pravigya.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Pravigya Pariyar</h5>
              </div>
              <h5 class="member-position">Research Lead</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/prawigya?ref=bookmarks" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/404mello" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a>
                  <a href="https://in.linkedin.com/in/prawigya-pariyar-4659aa138" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/anant.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Anant Mishra</h5>
              </div>
              <h5 class="member-position">Dev-Ops Lead</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/anant.mishra.1806" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <!-- <a href="https://twitter.com/candyzack_" 
                    style="margin-left:11px;" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/candyzack" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/deep-baldha/" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/muffadal.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Mufaddal</h5>
              </div>
              <h5 class="member-position">App-Dev Lead</h5>
              <div class="member-social-links text-center">
                  <a href="https://m.facebook.com/mufaddal.ibrahimjee?ref=bookmarks" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/mufi-ibrahimjee" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a>
                  <a href="http://linkedin.com/in/mufaddal-ibrahimjee-392b40129" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/sanya.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Sanya Taneja</h5>
              </div>
              <h5 class="member-position">Outreach Head</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/sanya.taneja.3" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <!-- <a href="https://github.com/Sanya28" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a> -->
                  <a href="https://www.linkedin.com/in/sanya-taneja-63aa79141" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/tanmay.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Tanmay Jain</h5>
              </div>
              <h5 class="member-position">UI/UX Lead</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/tjain.is.here" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <!-- <a href="https://github.com/tanmayjain98" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a> -->
                  <a href="https://www.linkedin.com/in/tanmay-jain/" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/shyamli.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Shyamli Singh</h5>
              </div>
              <h5 class="member-position">Program Lead</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/ShyamliSingh168" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/shyamli-singh-9a290814a" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="owl-element-wrap">
          <div class="member-card">
            <img src="/images/people/mudit.jpg" class="member-card-img smooth-transition-fast">
            <div class="member-info smooth-transition-fast">
              <div class="member-name-div">
                <h5 class="member-name">Mudit Agarwal</h5>
              </div>
              <h5 class="member-position">Treasurer</h5>
              <div class="member-social-links text-center">
                  <a href="https://www.facebook.com/mudit.agarwal.549" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-facebook" aria-hidden="true"></i>
                  </a>
                  <!-- <a href="https://github.com/mudit-agarwal" target="_blank" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-github" aria-hidden="true"></i>
                  </a> -->
                  <a href="https://www.linkedin.com/in/mudit-agarwal-62b3ab139/" target="_blank" style="margin-left:11px;" class="nodecoration">
                    <i class="smooth-transition-fast fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>
<!-- CONTACT US SECTION -->
<div class="contactus-wrap" id="contactus">
  <div class="container">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text">Contact Us</h4>
    </div>
    <br><br>
    <div class="row center contactus-info">
      <div class="addressdiv col s12 l3 center"><i class="fa fa-map-marker smooth-transition" aria-hidden="true"></i>
        &nbsp;VIT Vellore
      </div>
      <div class="emaildiv col s12 l6 center">
        <i class="fa fa-envelope smooth-transition" aria-hidden="true"></i>&nbsp;<a
          href="mailto:outreach.acmvit@gmail.com" class="" target="_blank">outreach.acmvit@gmail.com</a>
      </div>
      <div class="phndiv col s12 l3 center">
        <i class="fa fa-phone-square smooth-transition" aria-hidden="true"></i>&nbsp;+91
        8849691453
      </div>
    </div>
    <div class="row wow fadeIn">
      <form action="/contact/create" method="post">
        <div class="col s12">
          <div class="input-field col s12 m6">
            <input id="name_contact" type="text" name="name" required>
            <label for="name_contact">Name</label>
          </div>
          <div class="input-field col m6 s12">
            <input id="email_contact" type="email" name="email" required data-success="seems good"
              data-error="something is wrong">
            <label for="email_contact">Email</label>
          </div>
          <div class="input-field col s12">
            <input type="text" name="subject" required id="subject">
            <label for="subject">Subject</label>
          </div>
          <div class="input-field col s12">
            <textarea id="message_contact" class="materialize-textarea" name="message" required></textarea>
            <label for="message_contact">Message</label>
          </div>
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <div class="col s12 center-align">
            <button class="btn waves-effect waves-light contact-sub-but" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div><br><br>
<!-- subscribe for updates -->
<div class="contactus-wrap" id="contactus">
  <div class="container">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text" style="margin-top: 80px;">SUBSCRIBE FOR UPDATES</h4>
    </div>
    <br><br>
    <form action="/" style="margin-bottom: 50px;" method="post">
      <div class="row">
        <div class="input-field wow fadeInUp col s6">
          <input id="mail" type="text" name="email" required>
          <label for="mail">EMAIL</label>
        </div>
        <div class="col s6 wow fadeInUp center-align input-field">
          <button class="btn waves-effect waves-light contact-sub-but" type="submit" name="action">SUBSCRIBE
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

<!-- <div class="center-align">
     <iframe
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/94997368-d7cf-4391-8cee-15f4d196937f">
    </iframe>
    
</div> -->
<!-- <div class="gallery-wrapper center-align">
     <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text" style="margin-top: 80px;">INSIGHTS</h4>
    </div>
    
     <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="/images/insights/1.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/2.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/3.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/4.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/5.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/6.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/7.jpg" ></a>
        <a class="carousel-item" href="#two!"><img src="/images/insights/8.jpg" ></a>
      </div>
</div> -->

<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
<script type="text/javascript" src="/js/vendor/typewriter.js?11"></script>
<script type="text/javascript" src="/js/type.js"></script>
<script type="text/javascript" src="/js/nav.js?110"></script>
<script type="text/javascript" src="/js/faq.js?110"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/owl.navigation.js"></script>
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
<script type="text/javascript">
  function set_height() {
    var hero_div_ht = $(".hero-div").height();
    $(".cb-slideshow").css("min-height", hero_div_ht + 'px');
  }
  $(window).ready(function () {
    set_height();

    $(window).resize(function () {
      set_height();
    });
  });
</script>
<script type="text/javascript">

  $(document).ready(function () {
    $('#owlCarousel_sponsors').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 3
        }
      }
    })
  });
  $(document).ready(function () {
    $('#owlCarousel_members').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 4
        }
      }
    })
  });
</script>

<script type="text/javascript">

  var c2c_h = $("#about-box-c2c").height();
  var acm_h = $("#about-box-acm").height();
  set_height_box();
  $(window).resize(function () {
    set_height_box();
  });
  function set_height_box() {
    if (window.innerWidth > 769) {
      if (c2c_h > acm_h) {
        $("#about-box-acm").height(c2c_h);
      }
      else {
        $("#about-box-c2c").height(acm_h);
      }
    }
  }

</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.carousel').carousel();
  });

  document.addEventListener('DOMContentLoaded', function () {
    let devfolioOptions = {
      buttonSelector: '#devfolio-apply-now',
      key: 'codetocreate',
    }
    let script = document.createElement('script');
    script.src = "https://apply.devfolio.co";
    document.head.append(script);
    script.onload = function () {
      new Devfolio(devfolioOptions);
    }
    // document.getElementById("devfolio-apply-now").textContent = "Register Now";
    // console.log(document.getElementById("devfolio-apply-now").textContent, document.getElementById("text"));
    // script.on
    script.onerror = function () {
      document.querySelector(devfolioOptions.buttonSelector).addEventListener('click', function () {
        // window.open('https://devfolio.co/external-apply/', '_blank')
        window.location.href = 'https://devfolio.co/external-apply/' + devfolioOptions.key;
      });
    }
  });
</script>
<script type="text/javascript">
 <% if (typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err) { %>
    sweetAlert("Error", "<%=flash.err%>", "error");
  <% } %>
  <% if (typeof flash !== 'undefined' && typeof flash.success !== 'undefined' && flash.success) { %>
    sweetAlert("success", "<%=flash.success%>", "success");
    <% } %>
</script>