    <link rel="stylesheet" type="text/css" href="/styles/hamburger.min.css">
    <link rel="stylesheet" href="/styles/home_slider.css?122">
    <link rel="stylesheet" type="text/css" href="/styles/team.css?11">
    <link rel="stylesheet" type="text/css" href="/styles/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/styles/owl.theme.green.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css?1220">
    <style>
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      .reg-closed{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        border: dashed 1px #fff;
        color: #1eb76e;
      }
    </style>


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="hero-div-baap" id="home">
    <div class="hero-div">
      <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
      </ul>
      <div class="container-fluidd hero-content">
        <div class="row center">
          <br>
          <img src="/images/logowhite.png" class="logo-c2c wow fadeInDown" data-wow-delay="0.5s">
        </div>
        <div class="row center white-text" style="margin-top: -20px;">
          <h5 class="moto center hide-on-small-only">
            <i class="fa fa-calendar smooth-transition hero-fa" aria-hidden="true"></i>
            Coming Soon &nbsp;| &nbsp;
            ACM-VIT<span class="">&nbsp; | &nbsp;</span>
            <i class="fa fa-map-marker smooth-transition hero-fa" aria-hidden="true"></i> VIT University
          </h5>
          <h5 class="moto center hide-on-med-and-up">
            ACM-VIT
            <br>
            <i class="fa fa-calendar smooth-transition hero-fa" aria-hidden="true"></i>
            Coming Soon &nbsp;| &nbsp;
            <i class="fa fa-map-marker smooth-transition hero-fa" aria-hidden="true"></i> VIT University
          </h5>
        </div>
        <h4 class="center white-text">Create. Innovate. Learn.</h4>
        <div class="row type-row">
          <div class="container">
            <div class="type-div center" id="type1">
              <!--    <span class="type-no" id="type_no"></span> -->
              <span class="type-text" id="type_text"></span>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="center" style="border-style: none;">
            <div class="hide-on-small-only">
              <!-- <h5 class="center"><a href="/comingSoon" style="color: rgb(135,205,173);">KNOW ABOUT REGISTRATION</a></h5> -->
              <a href="/comingSoon" class="myButton wow fadeInDown">KNOW ABOUT REGISTRATION</a>
            </div>
            <div class="hide-on-med-and-up">
              <!-- <h6 class="center"><a href="/comingSoon" style="color: rgb(135,205,173);">KNOW ABOUT REGISTRATION</a></h6> -->
              <a href="/comingSoon" class="myButtonSM wow fadeInDown">KNOW ABOUT REGISTRATION</a>
            </div>
          </div>
        </div>
        <div class="row hide register-but-div center">
          <!--   <button class="hero-register-but waves-effect smooth-transition disable disabled" disabled style="margin:10px;">Register</button> -->
          <a href="/login">

            <button class="hero-register-but waves-effect smooth-transition" style="margin:10px;">Login</button>
          </a>
        </div>
        <br>
      </div>
    </div>
    
  </div>
  <div class="nav-wrap">
    <div class="nav-placeholder">
    </div>
    <nav class="smooth-transition navelem">
      <div class="nav-wrapper">
        <a class="brand-logo" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);"><img src="images/c_only.png" class="responsive-img"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="navlink a-home" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
          </li>
          <li><a class="navlink a-about"
           onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
         </li>
         <li><a class="navlink a-faqs"
           onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
         </li>
         <li><a class="navlink a-sponsors"
           onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
         </li>
         <li><a class="navlink a-organisers"
           onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
           <li><a class="navlink a-contactus"
             onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
             Us</a></li>
             <!-- <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/login">Login</a></li> -->
           </ul>
           <ul class="side-nav" id="mobile-demo">
            <li><a class="navlink a-home" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
            </li>
            <li><a class="navlink a-about"
             onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
           </li>
           <li><a class="navlink a-faqs"
             onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
           </li>
           <li><a class="navlink a-sponsors"
             onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
           </li>
           <li><a class="navlink a-organisers"
             onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
             <li><a class="navlink a-contactus"
               onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
               Us</a></li>
               <!--      <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/register">Register</a></li> -->
               <!-- <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/login">Login</a></li> -->
             </ul>
           </div>
         </nav>
       </div>
       <div class="about-wrap" id="about">
        <div class="container container-little-big">
          <div class="row">
            <div class="col s12 center wow fadeInUp">
              <h3 class="heading white-text center">About</h3>
            </div>
            <div class="col s12">
              <br>
              <br><br>
            </div>
            <div class="about-box smooth-transition about-c2c col m5 wow fadeInUp" data-wow-delay="0.5s">
              <div class="center">
                <h4 class="heading center">Code2Create</h4>
              </div>
              <p class="center" style="text-align: justify;" id="about-box-c2c">A thrilling tech sprint awaited by all techies, Code2Create saw an explosion of technicality. Code2Create is all about designing, building and creating; a place where graphic designers, software developers, app developers and web developers collaborate intensively on projects. It is an outburst of technology, a tech marathon – it is Code2Create. Code2Create'17 saw more than 300 participants. The judges were renowned experts in their respective fields.
              </p>
            </div>
            <div class="col s12 hide-on-med-and-up">
              <br>
            </div>
            <div class="about-box smooth-transition about-acm col m5 offset-m2 wow fadeInUp" data-wow-delay="0.5s">
              <div class="center">
                <h4 class="heading center">ACM VIT</h4>
              </div>
              <p class="" style="text-align: justify;" id="about-box-acm">Right from its inception in 2009, the ACM VIT Student Chapter has been organising and conducting succesful technical and professional development events. It hosted Compute 2013, the 6th ACM India Computing Convention from 22nd to 24th August, 2013, as well as the first All India ACM Chapters Meet on 24th August, 2013. It has credentials in web/mobile applications development and machine learning. The websites "All About VIT" and "VIT Cab Share" are some of the treasured creations of its core members. Technology is its cause and education is its objective.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="faqs-wrap" id="faqs">
        <div class="container-little-big container">
          <div class="row">
            <div class="col s12 center wow fadeInDown">
              <h3 class="heading white-text center">FAQs</h3>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6 center">
              <div class="faqs-div-wrap wow fadeInUp" id="faqs-div-wrap-1">
                <div class="faq-wrapper" data-id="1">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                      Who all can register?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        Any and all students from all over the country can register. We welcome you all!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper" data-id="2">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                      What are the registration fees?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        Nothing, it’s absolutely free!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper" data-id="3">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                     What kind of hackathon is this?
                   </div>
                   <button class="hamburger hamburger--slider right" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                  </button>
                </div>
                <div class="faq-details left-align white-text">
                  <div class="faq-details-inner">
                    <p>
                     This is a software hackathon. Although participants may use hardware if they wish to, they will be judged on their software implementation.
                   </p>
                 </div>
               </div>
             </div>
             <div class="faq-wrapper" data-id="4">
              <div class="faq-div left-align smooth-transition">
                <div class="faq-question">
                 How many people can I have on my team?
               </div>
               <button class="hamburger hamburger--slider right" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
            <div class="faq-details left-align white-text">
              <div class="faq-details-inner">
                <p>
                  You can have 2 to 4 people per team. You should either <a href="/team/new" target="_blank">create</a> your own team or accept invitations from other team admins.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-wrapper" data-id="5">
            <div class="faq-div left-align smooth-transition">
              <div class="faq-question">
               What tracks does this hack include?
             </div>
             <button class="hamburger hamburger--slider right" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <div class="faq-details left-align white-text">
            <div class="faq-details-inner">
              <p>
               Code2Create incorporates four main areas of interest:
               <br>
               -FinTech
               <br>
               -AR/VR
               <br>
               -Clean Energy
               <br>
               -Health Care
             </p>
           </div>
         </div>
       </div>
       <div class="faq-wrapper" data-id="6">
        <div class="faq-div left-align smooth-transition">
          <div class="faq-question">
           How do I choose my track?
         </div>
         <button class="hamburger hamburger--slider right" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <div class="faq-details left-align white-text">
        <div class="faq-details-inner">
          <p>
           When you <a href="/register" target="_blank">register</a> we will take your preferences for each track and allot your track on a first-come-first-served basis. You will also select a challenge from a given set.
         </p>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="col s12 m6 center">
  <div class="faqs-div-wrap wow fadeInUp" id="faqs-div-wrap-2">
   <div class="faq-wrapper" data-id="7">
    <div class="faq-div left-align smooth-transition">
      <div class="faq-question">
       How do I qualify for the pitching round?
     </div>
     <button class="hamburger hamburger--slider right" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="faq-details left-align white-text">
    <div class="faq-details-inner">
      <p>
       There will be two inspections conducted during the hack. After the first inspection, we will put the bottom 25 teams on the red list. If these teams do not show any improvement by the second inspection, they will be eliminated. Around 35 teams will pitch their ideas.
     </p>
   </div>
 </div>
</div>
<div class="faq-wrapper" data-id="8">
  <div class="faq-div left-align smooth-transition">
    <div class="faq-question">
     What is the quiz about ?
   </div>
   <button class="hamburger hamburger--slider right" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div class="faq-details left-align white-text">
  <div class="faq-details-inner">
   <p> The quiz is for determining the final pitching order. It is based on GK and your Googling skills.
   </p>
 </div>
</div>
</div>
<div class="faq-wrapper" data-id="9">
  <div class="faq-div left-align smooth-transition">
    <div class="faq-question">
     What happens if I rank last during the quiz?
   </div>
   <button class="hamburger hamburger--slider right" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div class="faq-details left-align white-text">
  <div class="faq-details-inner">
   <p> Don’t worry! We will simply ask you to pitch your idea first. We hope you are fast with powerpoint.
   </p>
 </div>
</div>
</div>
<div class="faq-wrapper" data-id="10">
  <div class="faq-div left-align smooth-transition">
    <div class="faq-question">
      What all can I win?
    </div>
    <button class="hamburger hamburger--slider right" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="faq-details left-align white-text">
    <div class="faq-details-inner">
     <p>Cash prizes and internships for first three teams, T-Shirts, certificates for participants, Digital Ocean credits, and stickers.
     </p>
   </div>
 </div>
</div>
<div class="faq-wrapper" data-id="11">
  <div class="faq-div left-align smooth-transition">
    <div class="faq-question">
     What if I get hungry or need internet connection?
   </div>
   <button class="hamburger hamburger--slider right" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div class="faq-details left-align white-text">
  <div class="faq-details-inner">
   <p> We’ll provide you with delicious food at regular intervals (breakfast, lunch, dinner and snacks) along with beverages. Also, you will be provided with free access to our beloved internet facility, VOLSBB.
   </p>
 </div>
</div>
</div>
<div class="faq-wrapper" data-id="12">
  <div class="faq-div left-align smooth-transition">
    <div class="faq-question">
     What about accommodation for externals?
   </div>
   <button class="hamburger hamburger--slider right" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div class="faq-details left-align white-text">
  <div class="faq-details-inner">
   <p> We will not be providing any accomodation for external students. We expect our participants to stay at the venue for the full hack.
   </p>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<br><br>
<div class="sponsors-wrap" id="sponsors">
  <div class="container">
    <div class="col s1 center wow fadeInUp">
      <h4 class="heading white-text">Sponsors'17</h4>
    </div>
    <div class="col s12">
      <br>
    </div>
    <div class="row sponPad fadeInUp">

        <div class="col m4 s12 center">
          <img src="/images/sponsors/transits.png" class="sponsors-pic center wow fadeInDown responsive-img ">
        </div>
        <div class="col m4 s12 center">
          <br><br>
          <img src="/images/sponsors/tricentis.png" class="sponsors-pic  center wow fadeInDown responsive-img" style="margin-top:5px;">
        </div>
        <div class="col m4 s12 center">
          <img src="/images/sponsors/paypal.png" class="sponsors-pic wow center fadeInDown responsive-img ">
        </div>
    </div>
    <div class="row sponPad fadeInUp">

        <div class="col m4 s12 center">
            <img src="/images/sponsors/union.png" class="sponsors-pic wow center fadeInDown responsive-img ">
          </div>
          <div class="col m4 s12 center">
            <br><br>
            <img src="/images/sponsors/oil_t.png" class="sponsors-pic  wow center fadeInDown responsive-img" style="margin-top:5px;">
          </div>
          <div class="col m4 s12 center">
            <img src="/images/sponsors/dakshinamurti.png" class="sponsors-pic wow center fadeInDown responsive-img ">
          </div>
    </div>
  <div class="row sponPad fadeInUp">
    <div class="col m4 s12 center">
     <img src="/images/sponsors/digitalocean.png" class="sponsors-pic wow center fadeInDown responsive-img " >
   </div>
   <div class="col m4 s12 center">
    <img src="/images/sponsors/github.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  <div class="col m4 s12 center">
   <img src="/images/sponsors/aisec_tt.png" class="sponsors-pic wow center fadeInDown responsive-img ">
 </div>
</div>
  <div class="row sponPad fadeInUp ">
    <div class="col m4 s12 center">
    <img src="/images/sponsors/winuall.png" class="sponsors-pic wow center fadeInDown responsive-img " >
  </div>
  <div class="col m4 s12 center">
    <img src="/images/sponsors/vicara.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  <div class="col m4 s12 center">
  <img src="/images/sponsors/devcircle.png" class="sponsors-pic wow center fadeInDown responsive-img ">
  </div>
  </div>
  <div class="row sponPad fadeInUp">
      <div class="col m4 s12 center">
      <img src="/images/sponsors/gamesa.png" class="sponsors-pic wow center fadeInDown responsive-img " >
    </div>
    <div class="col m4 s12 center" >
      <img src="/images/sponsors/bakers.png" class="sponsors-pic wow center  fadeInDown responsive-img ">
    </div>
    <div class="col m4 s12 center">
    <img src="/images/sponsors/digitalhar.png" class="sponsors-pic wow center fadeInDown responsive-img ">
    </div>
    </div>
</div>
</div>
<br>
<div class="row hide">
  <div class="col s12 center wow fadeInLeft">
    <h5 class="center display-inline-block white-text">Interested in sponsoring us? Have a look at our &nbsp;</h5>
    <a href="codetocreate.pdf" target="_blank">
      <button class="ghost-btn">Sponsorship Brochure
        <span class="coming-arrow">&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </button>
    </a>
  </div>
</div>
</div>
</div>
<br><br>
<div class="organisers-wrap" id="organisers">
  <div class="container container-little-big">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text">Organisers'17</h4>
    </div>
    <br><br>
    <div class="row">
      <div class="col s12 wow fadeInUp">
        <div class="col m4 center">
          <img src="/images/acmwhite.png" class="responsive-img">
        </div>
        <div class="col m4 center">
          <h4 class="center in-association-text">In Association with</h4>
        </div>
        <div class="col m4 center">
          <br class="hide-on-small-only">
          <img src="/images/site.png" class="responsive-img site-logo">
        </div>
      </div>
    </div>
    <div class="row faculty-div">
      <div class="col s12 center wow fadeInDown">
        <h4 class="center white-text heading">Faculty Organisers</h4>
        <br><br>
      </div>
      <div class="col s12 m4 offset-m2 wow fadeInUp">
        <div class="member-card hrv-member-card">
          <img src="/images/people/dean_site.png" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
            <div class="member-name-div">
              <h5 class="member-name">Dr. Aswani Kumar Cherukuri</h5>
            </div>
            <h5 class="member-position">Dean<br>School of Information Technology & Engineering</h5>
          </div>
        </div>
      </div>
      <div class="col s0 m1">
        &nbsp;
      </div>
      <div class="col s12 m3 hrv-col wow fadeInUp">
        <div class="member-card hrv-member-card">
          <img src="/images/people/hrv.png" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
           <div class="member-name-div">
            <h5 class="member-name">Prof. H.R. Vishwakarma</h5>
          </div>
          <h5 class="member-position">Faculty Sponsor<br> ACM VIT Student Chapter</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row students-div">
    <div class="center wow fadeInDown">
     <h4 class="center white-text heading">Student Organisers</h4>
   </div>
   <br><br>
   <div class="owl-carousel owl-theme wow fadeInUp" id="owlCarousel_members">
    <div class="owl-element-wrap">
     <div class="member-card">
      <img src="/images/people/abhitej.jpg" class="member-card-img smooth-transition-fast">
      <div class="member-info smooth-transition-fast">
       <div class="member-name-div">
         <h5 class="member-name">Abhitej Singh</h5>
       </div>
       <h5 class="member-position">President</h5>

       <div class="member-social-links text-center">
        <a href="https://www.facebook.com/Ash.nda22?fref=pb&hc_location=profile_browser" target="_blank" class="nodecoration" >
          <i class="smooth-transition-fast fa fa-2x fa-facebook"
          aria-hidden="true"></i>
        </a>
        <a href="https://github.com/singhabhitej" target="_blank" class="nodecoration">
          <i class="smooth-transition-fast fa fa-2x fa-github"
          aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/abhitejsingh23/" target="_blank" style="margin-left:11px;" class="nodecoration">
          <i class="smooth-transition-fast fa fa-2x fa-linkedin"
          aria-hidden="true"></i>
        </a>
        
      </div>
    </div>
  </div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/hardika.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Hardika Goyal</h5>
  </div>
  <h5 class="member-position">Managing Director</h5>

  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/hardika.goyal?fref=pb&hc_location=profile_browser" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/hardika-goyal-294471128/" target="_blank" style="margin-left:11px;" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-linkedin"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/sourish.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Sourish Banerjee</h5>
  </div>
  <h5 class="member-position">Technical Director</h5>

  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/ban.sourishi" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    <a href="https://github.com/sourish1997" target="_blank" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-github"
      aria-hidden="true"></i>
    </a>

  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/harshit.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Harshit Kedia</h5>
  </div>
  <h5 class="member-position">Associate Technical Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/hkedia32" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    <a href="https://github.com/hkedia321" target="_blank" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-github"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/yash.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Yash Shah</h5>
  </div>
  <h5 class="member-position">Research And ICPC Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/Yash.2h2o" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>

  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/vinit.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Vinit Bodhwani</h5>
  </div>
  <h5 class="member-position">Associate Research Lead</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/profile.php?id=100009652089796" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    <a href="https://github.com/bodhwani" target="_blank" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-github"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/shivam.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Shivam Chawla</h5>
  </div>
  <h5 class="member-position">Public Relations</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/shivamchawla60" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    <a href="https://github.com/Shivam60" target="_blank" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-github"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/ri.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Rishabh</h5>
  </div>
  <h5 class="member-position">Operations Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/rishabhjain22sep" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/anmol.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Anmol</h5>
  </div>
  <h5 class="member-position">Marketing Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/anmolsrivastava05" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    
    <a href="https://github.com/anmolsrivastava05" target="_blank" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-github"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/vibhore.jpg" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Vibhore Gupta</h5>
  </div>
  <h5 class="member-position">Finance Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/vibhore.gupta.18" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<br><br>
<div class="contactus-wrap" id="contactus">
  <div class="container">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text">Contact Us</h4>
    </div>
    <br><br>
    <div class="row center contactus-info">
      <div class="addressdiv col s12 m4 center"><i class="fa fa-map-marker smooth-transition" aria-hidden="true"></i>
        &nbsp;VIT
        University, Vellore
      </div>
      <div class="emaildiv col s12 m4 center">
        <i class="fa fa-envelope smooth-transition" aria-hidden="true"></i>&nbsp;<a
        href="mailto:outreach@acmvit.in" class="" target="_blank">outreach@acmvit.in</a>
      </div>
      <div class="phndiv col s12 m4 center">
        <i class="fa fa-phone-square smooth-transition" aria-hidden="true"></i>&nbsp;+91
        9460329674
      </div>
    </div>
    <div class="row wow fadeIn">
      <form action="/contact/create" method="post">
        <div class="col s12">
          <div class="input-field col s12 m6">
            <input id="name_contact" type="text" name="name" required>
            <label for="name_contact">Name</label>
          </div>
          <div class="input-field col m6 s12">
            <input id="email_contact" type="email" name="email" required data-success="seems good"
            data-error="something is wrong">
            <label for="email_contact">Email</label>
          </div>
          <div class="input-field col s12">
            <input type="text" name="subject" required id="subject">
            <label for="subject">Subject</label>
          </div>
          <div class="input-field col s12">
            <textarea id="message_contact" class="materialize-textarea" name="message" required></textarea>
            <label for="message_contact">Message</label>
          </div>
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <div class="col s12 center-align">
            <button class="btn waves-effect waves-light contact-sub-but" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>

<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
<script type="text/javascript" src="/js/vendor/typewriter.js?11"></script>
<script type="text/javascript" src="/js/type.js"></script>
<script type="text/javascript" src="/js/nav.js?110"></script>
<script type="text/javascript" src="/js/faq.js?110"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/owl.navigation.js"></script>
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
<script type="text/javascript">
  function set_height() {
    var hero_div_ht = $(".hero-div").height();
    $(".cb-slideshow").css("min-height", hero_div_ht + 'px');
  }
  $(window).ready(function () {
    set_height();

    $(window).resize(function () {
      set_height();
    });
  });
</script>
<script type="text/javascript">

  $(document).ready(function(){
   $('#owlCarousel_sponsors').owlCarousel({
    loop:false,
    margin:10,
    nav:true,
    responsive:{
      0:{
        items:1
      },
      600:{
        items:3
      },
      1000:{
        items:3
      }
    }
  })
 });
  $(document).ready(function(){
   $('#owlCarousel_members').owlCarousel({
    loop:false,
    margin:10,
    nav:true,
    responsive:{
      0:{
        items:1
      },
      600:{
        items:3
      },
      1000:{
        items:4
      }
    }
  })
 });
</script>

<script type="text/javascript">

 var c2c_h= $("#about-box-c2c").height();
 var acm_h= $("#about-box-acm").height();
 set_height_box();
 $(window).resize(function(){
  set_height_box();
});
 function set_height_box(){
  if(window.innerWidth>769){
    if(c2c_h>acm_h){
      $("#about-box-acm").height(c2c_h);
    }
    else{
      $("#about-box-c2c").height(acm_h);
    }
  }
}

</script>
<script type="text/javascript">
 <% if(typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err){ %>
  sweetAlert("Error", "<%=flash.err%>", "error");
  <% } %>
  <% if(typeof flash !== 'undefined' && typeof flash.success !== 'undefined' && flash.success){ %>
    sweetAlert("success", "<%=flash.success%>", "success");
    <% } %>
  </script>
