    <link rel="stylesheet" href="/styles/app_common.css?1100">
    <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
      .radio-pref{
        margin-right: 60px;
      }
      .track-col{
        height: 170px;
        padding: 1.5rem !important;
        background-color: #373d41;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        width: 45% !important;
        margin: 2% !important;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      .track-col .track-img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      .track-col.selected{
        border:5px solid #1eb76e;
        padding: 2.5rem;
      }
      .track-col .rank-disp{
        display: none;
      }
      .track-col.selected .rank-disp{
        display: block;
        background-color: #1eb76e;
        padding: 0.6rem 1rem;
        border-radius: 100%;
        position: absolute;
        top: -12px;
        font-size: 1.1rem;
        color: #fff;
        right: -12px;
      }
      .track-col .overlay{
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 10px;
        vertical-align: middle;
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
      .track-col:hover .overlay{
       opacity: 1;
     }
     .track-col:hover{
      padding: 0.7rem !important;
    }
    .track-col .overlay .track-heading{
      vertical-align: middle;
      margin-top: 30%;
    }
    .team-status{
     padding: 0.4rem;
     display: inline-block;
     border-radius: 5px;
   }
   .team-remove{
    background-color: #f44336 !important;
    border:none;
    box-shadow: none;
    cursor: pointer;
  }
  .team-status-joined{
    background-color: #1eb76e !important;
    opacity: 1;
  }

  .team-status-requested{
    background-color: #d32f2f !important;
    opacity: 0.8;
  }
  .team-remove{
    background-color: #f44336 !important;
    border:none;
    box-shadow: none;
    cursor: pointer;
  }
  .team-remove:hover{
    background-color: #bf291d !important;
  }
  @media(min-width: 601px){
    .track-col{
     height: 210px;
     width: 21% !important;
     margin: 2% !important;
   }
 }
 @media(max-width: 769px){
  .track-col .overlay{
    opacity: 1;
  }
}

</style>

<%- partial('../partials/navbar.ejs',{active: 'teamNew'}) %>
<div class="container">
  <div class="heading-bg">
   <h5 class="left-align white-text main-heading">Create A Team</h5>
 </div>
 <div class="my-main-card hoverable">
<% if(!defaultUrl.enableteam()){ %>
<div class="row">
<h3 class="center" style="color: red;">Creating team is now closed</h3>
</div>
<% } %>
 <% if(defaultUrl.enableteam()) {%>
  <div class="row">
    <form action="/team/create" method="POST" id="teamForm" autocomplete="on">
      <div class="input-field col s12 m10 offset-m1">
        <i class="material-icons prefix">people_outline</i>
        <input id="teamid" type="text" class="validate" required name="teamName" tabindex="1">
        <label for="teamid">TeamName (Choose a TeamName) <span class="required">*</span></label>
      </div>
      <div class="row">
        <div class="col offset-s1 s11">
          <h5 class="left-align grey-colour">Assign priority for each Track:</h5>
        </div>
        <div class="col m3 s6 track-col">
          <input type="hidden" name="arvr" class="inp_track">
          <div class="overlay">
            <h4 class="center white-text track-heading">AR/VR</h4>
          </div>
          <div class="rank-disp" id="rank1">
          </div>
          <img src="/images/tracks/track_arvr.png" class="track-img responsive-img">
        </div>
        <div class="col m3 s6 track-col">
         <input type="hidden" name="helc" class="inp_track">
         <div class="overlay">
          <h4 class="center white-text track-heading">Health Care</h4>
        </div>
        <div class="rank-disp">
        </div>
        <img src="/images/tracks/track_helc.png" class="track-img responsive-img">
      </div>
      <div class="col m3 s6 track-col">
       <input type="hidden" name="fint" class="inp_track">
       <div class="overlay">
        <h4 class="center white-text track-heading">FinTech</h4>
      </div>
      <div class="rank-disp">
      </div>
      <img src="/images/tracks/track_fint.png" class="track-img responsive-img">
    </div>
    <div class="col m3 s6 track-col">
     <input type="hidden" name="clen" class="inp_track">
     <div class="overlay">
      <h4 class="center white-text track-heading">Clean Energy</h4>
    </div>
    <div class="rank-disp">
    </div>
    <img src="/images/tracks/track_clen.png" class="track-img responsive-img">
  </div>
</div>
<div class="input-field col s12 m12 hide">
  <textarea id="description" class="validate materialize-textarea" name="description" value=""> </textarea>
  <label for="description">Description of your project...</label>
</div>
<div class="row">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <div class="center-align">
    <button type="submit" class="waves-effect btn sub-but" id="submit_mock">Submit <i
      class="material-icons right">send</i>
    </button>
    <input type="submit" id="real_submit" value="Submit" class="hide" name="submit">
  </div>
</div>
</form>
</div>
<% } %>
</div>
</div>


<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>
<script type="text/javascript">
  $("#teamid").on("keydown", function (e) {
    return (e.which !== 32) && (e.which!== 35) && (e.which!== 36) && (e.which!== 37) && (e.which!== 38) ;
  });
</script>
<script type="text/javascript">
  var cur_rank=0;
  var rank1=false;
  var rank2=false;
  var rank3=false;
  var rank4=false;
  function get_rank()
  {
    if(!rank1)
    {
      rank1=true;
      return 1;
    }
    if(!rank2)
    {
      rank2=true;
      return 2;
    }
    if(!rank3)
    {
      rank3=true;
      return 3;
    }
    if(!rank4)
    {
      rank4=true;
      return 4;
    }
    return 0;
  }
  $(".track-col").click(function(){
    if($(this).hasClass('selected'))
    {
      $(this).removeClass('selected');
      var str_val=$(this).find('.rank-disp').text();
      $(this).find('.inp_track').val("0");
      console.log("The value is:"+str_val);
      if(str_val=="1")
        rank1=false;
      if(str_val=="2")
        rank2=false;
      if(str_val=="3")
        rank3=false;
      if(str_val=="4")
        rank4=false;
    }
    else
    {
      $(this).addClass("selected");
      var r=get_rank();
      $(this).find('.rank-disp').html(r);
      $(this).find('.inp_track').val(r);
    }
  });
</script>

<script type="text/javascript">
 <% if(typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err){ %>
  sweetAlert("Error", "<%=flash.err%>", "error");
  <% } %>
  <% if(typeof flash !== 'undefined' && typeof flash.success !== 'undefined' && flash.success){ %>
    sweetAlert("<%=flash.success%>", "Now you can see All Members and Send Invites to them for joining your team.", "success");
    <% } %>
  </script>
