    <link rel="stylesheet" href="/styles/app_common.css">
      <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
    </style>

    <%- partial('../partials/navbar.ejs',{active: 'teamShowall'}) %>
     <div class="container">
   <div class="heading-bg">
   <h5 class="left-align white-text main-heading">All Teams (20)</h5>
   <p class="margin-bottom-0 white-text">List of all teams</p>
  </div>
  <div class="my-main-card hoverable">

    <div class="table-wrap">
      <table class="bordered striped responsive-table white-text">
        <thead>
          <tr>
            <th data-field="id">Team Name</th>
            <th data-field="name">Track</th>
            <th data-field="price">Members</th>
            <th data-field="price">Project Description</th>
            <th data-field="price">Team Admin</th>
          </tr>
        </thead>

        <tbody>
            <% _.each(teams, function(team) { %>
          <tr>
            <td><a href="viewteam.html" class="underline-wala"><%=team.teamName%></a></td>
            <td>AR/VR</td>
            <td><%=team.memberAccepted.length%></td>
            <td><%=team.description%></td>
            <td><a href="viewteam.html" class="underline-wala"><%=team.teamAdmin%></a></td>
          </tr>
          <% }); %>
        
       </tbody>
     </table>
   </div>
 </div>
</div>


<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>