    <link rel="stylesheet" href="/styles/app_common.css">
    <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
    </style>

    <%- partial('../partials/navbar.ejs',{active: 'teamViewrequest'}) %>

    <div class="container">
      <div class="heading-bg">
       <h5 class="left-align white-text main-heading">View Invitations</h5>
       <p class="margin-bottom-0 white-text">Here you will see all the invitations that you received for joining teams.</p>
     </div>
     <div class="my-main-card hoverable">
       <table class="bordered striped responsive-table white-text">
        <thead>
          <td>teamid</td>
          <td>Track</td>
          <td class="th-skills-td">Project Idea</td>
          <td>team admin</td>
          <td title="Accept Invitation to join a team (only if you are not a team member)">Accept Invitation</td>
        </thead>
        <tbody>
         <% _.each(requestview, function(reqview) {
         var trackk='';
         if(team.arvr=='1')
         trackk='AR/VR';
         else if(team.helc=='1')
         trackk='Health Care';
         else if(team.fint=='1')
         trackk='FinTech';
         else if(team.clen=='1')
         trackk='Clean Energy';
         else
         trackk='not found';
         %>
         <tr>
          <td>
            <a href="/team/show/<%=reqview.teamName%>" class="ver-align-middlee underline-wala"><%=reqview.teamName%></a>
          </td>
          <td>trackk</td>
          <td class="skills-td" title="Send Invitation to a member to join your team(you should be an admin)"><%=reqview.description%>

          </td>
          <td>
          <a href="/team/show/<%=reqview.teamAdmin%>" class="ver-align-middlee underline-wala"><%=reqview.teamAdmin%></a>
          </td>
          <td class="center"><a href="sendrequest" class="send-req-but smooth-transition">Invite</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>


<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>