    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" type="text/css" href="/styles/register.css?1100">
    <link rel="stylesheet" type="text/css" href="/styles/without_login_navbar.css?1100">
    <style type="text/css">
      .dropdown-content li>a, .dropdown-content li>span {
        color: #000000;
      }
    </style>
    <%- partial('../partials/without_login_navbar.ejs',{active: 'register'}) %>
    <br>
    <div class="container">
     <div class="heading-bg">
       <h5 class="left-align white-text main-heading">Register</h5>
     </div>
     <div class="my-main-card hoverable">
   <!--  <div class="row">
      <div class="col s12 center wow fadeInUp">
        <h3 class="heading white-text center">Register</h3>
      </div>
    </div> -->
    <div class="row error-row alert alert-danger" id="errors">
     <!--  <h5>Please fix the following Errors:</h5>
      <ul>

      </ul> -->
    </div>
    <div class="row">
      <form action="/user/create" method="POST" id="registerForm" autocomplete="on" novalidate="true">
        <div class="input-field col s12 m6">
          <input id="name" type="text" class="validate" required name="name">
          <label for="name">Name <span class="required">*</span></label>
        </div>
        <div class="input-field col s12 m6">
          <input id="regno" type="text" class="validate" required name="regno">
          <label for="regno">College Registration number <span class="required">*</span></label>
        </div>
        <div class="input-field col s12 m6">
         <!--  <div class="hide-on-med-and-down">
            <input id="phoneno" type="text" class="validate" required maxlength="13" minlength="10" name="phoneno">
            <label for="phoneno">Phone number <span class="required">*</span></label>
          </div> -->
          <div class="">
            <input id="phoneno" type="number" class="validate" pattern="[0-9]*" title="Mobile no" required maxlength="13" minlength="10" name="phoneno">
            <label for="phoneno">Phone number <span class="required">*</span></label>
          </div>
        </div>
        <div class="input-field col s12 m6">
          <input id="email" type="email" class="validate" required name="email">
          <label for="email">Email <span class="required">*</span></label>
        </div>
        <div class="input-field col s12 m12">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate" required name="username" maxlength="15">
          <label for="username">UserName (Choose a username) <span class="required">*</span></label>
        </div>
        <div class="input-field col s12 m6">
          <input id="password" type="password" class="validate" required name="password">
          <label for="password">Password <span class="required">*</span></label>
        </div>
        <div class="input-field col s12 m6">
          <input id="confirmation" type="password" class="validate" required name="confirmation">
          <label for="confirmation">Confirm Password <span class="required">*</span></label>
        </div>
        <div class="row center">
          <div class="input-field col s12 ver-align-middle">
            <h6 class="display-inline-block ver-align-middle" style="
            vertical-align: middle;
            margin-top: 25px;
            color: #888;">Gender: </h6>
            <input class="with-gap ver-align-middle" name="gender" type="radio" id="male" value="male"/>
            <label for="male">Male</label>
            &nbsp;&nbsp;&nbsp;
            <input class="with-gap" name="gender" type="radio" id="female" value="female"/>
            <label for="female">Female</label>
          </div>
        </div>
        <div class="row center">
          <div class="input-field col s12">
            <input class="with-gap ver-align-middle" name="internal_external" type="radio" id="internal" value="internal"/>
            <label for="internal">VIT Vellore Student</label>
            &nbsp;&nbsp;&nbsp;
            <input class="with-gap" name="internal_external" type="radio" id="external" value="external"/>
            <label for="external">External</label>
          </div>
        </div>
        <div id="internal_wrap">
         <div class="row center">
          <div class="input-field col s12">
            <input class="with-gap" name="living" type="radio" id="hostler" value="hostler"/>
            <label for="hostler">Hosteller</label>
            <input class="with-gap" name="living" type="radio" id="dayscholar" value="dayscholar"/>
            <label for="dayscholar">Dayscholar</label>
          </div>
        </div>

        <div class="roww" id="hostler_row">
          <div class="input-field col s12 m6 l6">
            <select name="block" id="block" class="validate">
              <option value="">select an option..</option>
              <optgroup label="Mens hostel">
                <option value="mh_a">MH A</option>
                <option value="mh_b">MH B</option>
                <option value="mh_ba">MH B-annexe</option>
                <option value="mh_c">MH C</option>
                <option value="mh_d">MH D</option>
                <option id="6" value="mh_da">MH D-annexe</option>
                <option value="mh_e">MH E</option>
                <option value="mh_f">MH F</option>
                <option value="mh_g">MH G</option>
                <option value="mh_h">MH H</option>
                <option value="mh_j">MH J</option>
                <option value="mh_k">MH K</option>
                <option value="mh_l">MH L</option>
                <option value="mh_m">MH M</option>
                <option value="mh_ma">MH M-annexe</option>
                <option value="mh_n">MH N</option>
                <option value="mh_p">MH P</option>
              </optgroup>
              <optgroup label="Ladies Hostel">
                <option value="lh_a">LH A</option>
                <option value="lh_b">LH B</option>
                <option value="lh_c">LH C</option>
                <option value="lh_d">LH D</option>
                <option value="lh_e">LH E</option>
                <option value="lh_ea">LH E Annexe</option>
                <option value="lh_f">LH F</option>
              </optgroup>
            </select>
            <label>Hostel Block</label>
          </div>
          <div class="col s12 l6 m6 input-field">
            <input type="text" name="roomno" id="roomno" class="validate"/>
            <label for="roomno">Room number</label>
            <br>
          </div>
        </div>
      </div>
      <div id="external_wrap">
       <div class="input-field col s12 m6">
        <input id="college_name" type="text" class="validate" name="college_name">
        <label for="college_name">College Name <span class="required">*</span></label>
      </div>
      <div class="input-field col s12 m6">
        <input id="college_city" type="text" class="validate" name="college_city">
        <label for="college_city">College City <span class="required">*</span></label>
      </div>
    </div>
    <div class="input-field col s12 m12">
      <textarea id="description" class="validate materialize-textarea" name="description"></textarea>
      <label for="description">What are your skills? In what languages do you code?</label>
    </div>
    <div class="input-field col s12 m6">
      <input id="github" type="url" class="validate" name="github">
      <label for="github">Github Profile link</label>
    </div>
    <div class="input-field col s12 m6">
      <input id="linkedin" type="url" class="validate" name="linkedin">
      <label for="linkedin">Linkedin Profile link</label>
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <div class="row">

      <div class="center-align">
        <button type="button" class="waves-effect btn sub-but" id="submit_mock" onclick="submit_try();">Submit <i
          class="material-icons right">send</i>
        </button>
        <button class="g-recaptcha hide" data-sitekey="6LcTthcUAAAAANHIWtQFAdQ7Mi4B_Xchbyt1cwuX"
        data-callback="onSubmit" id="submit">Submit captcha <i class="material-icons right">send</i>
      </button>
      <input type="submit" id="real_submit" value="Submit" class="hide" name="submit">
    </div>
  </div>
</form>
</div>
</div>
</div>
<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>
<script type="text/javascript">
  if($( window ).width() > 769){
    $("#phoneno").attr("type","text");
  }
</script>
<script>
  $("#errors").hide();
//TO SHOW VITIAN OR EXTERNAL
$("#external_wrap").hide();
$("#internal_wrap").hide();
$("input[name='internal_external']").change(function () {
  if ($("input[name='internal_external']:checked").val() == 'internal') {
    $("#external_wrap").hide();
    $("#internal_wrap").fadeIn();
  }
  else
  {
    $("#internal_wrap").hide();
    $("#external_wrap").fadeIn();
  }
});
// JUST TO HIDE OR SHOW HOSTLER DETAILS
$("#hostler_row").hide();
$("input[name='living']").change(function () {
  if ($("input[name='living']:checked").val() == 'hostler') {
    $("#hostler_row").slideDown();
  }
  else{
    $("#hostler_row").slideUp();
  }
});
</script>
<script>
  function checkerrors() {
    $("#errors").hide();
    $("#errors ul").html('');
    var errors = [];
    var name = $("#name").val();
    var regno = $("#regno").val();
    var email = $("#email").val();
    var phoneno = $("#phoneno").val();
    var username = $("#username").val();
    var password = $("#password").val();
    var confirmation = $("#confirmation").val();
    var internal_external= $("input[name='internal_external']:checked").val();
    var college_name = $("#college_name").val();
    var college_city = $("#college_city").val();
    var living = $("input[name='living']:checked").val();
    var block = $("#block").val();
    var roomno = $("#roomno").val();
    // Below is common
    if (!name)
      errors.push('Name cannot be blank');
    if (!regno)
      errors.push('Registration number cannot be blank');
    if (!phoneno)
      errors.push('Phone number cannot be blank');
    if (!email)
      errors.push('Email cannot be blank');
    else if (!isEmail(email))
      errors.push('Please Enter a Valid Email');
    if(!username)
      errors.push('User id cannot be blank');
    if(!password)
      errors.push('Password cannot be blank');
    else if(password!=confirmation)
      errors.push('Password and Confirm password must match');
    if(!internal_external)
      errors.push('Please Select <b>VIT Student</b> or <b>External</b>');
    //Below is for external
    if(internal_external=='external')
    {
      if(!college_name)
        errors.push('Please Enter the College Name');
      if(!college_city)
        errors.push('Please Enter College City');
    }
    //Below is for internal
    if(internal_external=='internal')
    {
     if (!isRegno(regno))
      errors.push('Please Enter a Valid VIT Registration number');
    if (!living)
      errors.push('Please Select Hostler or Dayscholar');
    if (living == 'hostler' && (!block || !roomno))
      errors.push('Please enter block and room no');
  }
  if (errors.length > 0) {
    var all_errors_swal="<ul>";
    for (var i = 0; i < errors.length; i++)
      all_errors_swal+=('<li>' + errors[i] + '</li>');
    all_errors_swal+="</ul>";
    swal({
      title: "Please fill all the details",
      text: all_errors_swal,
      type: "error",
      html: true
    });
    return true;
  }

  return false;
}
function onSubmit() {
  $("#real_submit").click();
}
function submit_try() {
  if (checkerrors() == false)
    //if(true)
  $("#submit").click();
}
function isEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}
function isRegno(regno) {
  var reg = /^([0-9]{2})([a-zA-Z]{3})([0-9]{3,4})$/;
  return reg.test(regno);
}
</script>
<script type="text/javascript">
</script>

<script type="text/javascript">

  <% if(typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err){ %>
    sweetAlert("Error", "<%= flash.err%>", "error");
    <% } %>
  </script>