  <link rel="stylesheet" type="text/css" href="/styles/register.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <style>
    #submit_mock {
      margin-top: 20px;
    }
    .error {
      border: solid 1px red;
      color: red;
      padding: 10px;
    }
    .success {
      border: solid 1px green;
      color: green;
      padding: 10px;
    }
    [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
      border: 2px solid #1eb76e;
    }
    [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
      background-color: #1eb76e;
    }
  </style>

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <div class="nav-wrap my-navbar-fixed">
    <nav class="smooth-transition navelem">
      <div class="nav-wrapper">
        <a class="brand-logo" href="http://c2c.acmvit.in/"><img src="/images/c_only.png" class="responsive-img"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/register" class="navlink a-register btn waves-effect waves-light nav-reg-but"
            >Register</a>
          </li>
          <li><a href="/login" class="navlink a-login btn active waves-effect waves-light nav-reg-but"
            >Login</a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
         <li><a href="/register" class="navlink a-register">Register</a>
         </li>
         <li><a href="/login" class="navlink a-login">Login</a>
         </li>
       </ul>
     </div>
   </nav>
 </div>
 <div class="hero-img-div">
  <div class="layer"></div>
  <div class="hero-content-div container">
    <div class="row center">
      <br>
      <a href="/"><img src="/images/c2c.png" class="hero-logo-c2c wow fadeInDown responsive-img"
       data-wow-delay="0.5s"></a>
       <h4 class="center white-text wow fadeIn">Create. Innovate. Learn.</h4>
     </div>
   </div>
 </div>
 <div class="container">
  <div class="row">
    <div class="col s12 center wow fadeInUp">
      <h3 class="heading white-text center">Register</h3>
    </div>
  </div>

  <% if(typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err){ %>
  <div class="error center">
    <h5 class="center"> <%= flash.err %></h5>
  </div>
  <% } %>
  <% if(typeof flash !== 'undefined' && typeof flash.success != 'undefined' && flash.success){ %>
  <div class="success center">
    <h5 class="center"><%= flash.success %></h5>
  </div>
  <% } %>
  <div class="row error-row alert alert-danger" id="errors">
    <h5>Please fix the following Errors:</h5>
    <ul>

    </ul>
  </div>
  <div class="row">
    <form action="/user/create" method="POST" id="registerForm" autocomplete="on">
      <div class="input-field col s12 m6">
        <input id="name" type="text" class="validate" required name="name">
        <label for="name">Name <span class="required">*</span></label>
      </div>
      <div class="input-field col s12 m6">
        <input id="regno" type="text" class="validate" required name="regno" minlength="8" maxlength="10" pattern="^([0-9]{2})([a-zA-Z]{3})([0-9]{3,4})$">
        <label for="regno">College Registration number <span class="required">*</span></label>
      </div>
      <div class="input-field col s12 m6">
        <input id="phoneno" type="number" class="validate" required maxlength="13" minlength="10" name="phoneno">
        <label for="phoneno">Phone number <span class="required">*</span></label>
      </div>
      <div class="input-field col s12 m6">
        <input id="email" type="email" class="validate" required name="email">
        <label for="email">Email <span class="required">*</span></label>
      </div>
      <div class="input-field col s12 m12">
        <i class="material-icons prefix">account_circle</i>
        <input id="userid" type="text" class="validate" required name="userid">
        <label for="userid">userid (Choose a userid eg. hkedia321) <span class="required">*</span></label>
      </div>
      <div class="input-field col s12 m6">
        <input id="password" type="password" class="validate" required name="password">
        <label for="password">Password <span class="required">*</span></label>
      </div>
      <div class="input-field col s12 m6">
        <input id="confirmation" type="password" class="validate" required name="confirmation">
        <label for="confirmation">Confirm Password <span class="required">*</span></label>
      </div>
      <div class="row center">
        <div class="input-field col s12">
          <input class="with-gap" name="internal_external" type="radio" id="internal" value="internal"/>
          <label for="internal">VIT Student</label>
          &nbsp;&nbsp;&nbsp;
          <input class="with-gap" name="internal_external" type="radio" id="external" value="external"/>
          <label for="external">External</label>
        </div>
      </div>
      <div id="internal_wrap">
       <div class="row center">
        <div class="input-field col s12">
          <input class="with-gap" name="living" type="radio" id="hostler" value="hostler"/>
          <label for="hostler">Hostler</label>
          <input class="with-gap" name="living" type="radio" id="dayscholar" value="dayscholar"/>
          <label for="dayscholar">Dayscholar</label>
        </div>
      </div>

      <div class="roww" id="hostler_row">
        <div class="input-field col s12 m6 l6">
          <select name="block" id="block" class="validate">
            <option value="">select an option..</option>
            <optgroup label="Mens hostel">
              <option value="mha">MH A</option>
              <option value="mh_b">MH B</option>
              <option value="mh_ba">MH B-annex</option>
              <option value="mh_c">MH C</option>
              <option value="mh_d">MH D</option>
              <option id="6" value="mh_da">MH D-annex</option>
              <option value="mh_e">MH E</option>
              <option value="mh_f">MH F</option>
              <option value="mh_g">MH G</option>
              <option value="mh_h">MH H</option>
              <option value="mh_j">MH J</option>
              <option value="mh_k">MH K</option>
              <option value="mh_l">MH L</option>
              <option value="mh_m">MH M</option>
              <option value="mh_ma">MH M-annex</option>
              <option value="mh_n">MH N</option>
              <option value="mh_p">MH P</option>
            </optgroup>
            <optgroup label="Ladies Hostel">
              <option value="lh_a">LH A</option>
              <option value="lh_b">LH B</option>
              <option value="lh_c">LH C</option>
              <option value="lh_d">LH D</option>
              <option value="lh_e">LH E</option>
              <option value="lh_f">LH F</option>
              <option value="lh_g">LH G</option>
            </optgroup>
          </select>
          <label>Hostel Block</label>
        </div>
        <div class="col s12 l6 m6 input-field">
          <input type="text" name="roomno" id="roomno" class="validate"/>
          <label for="roomno">Room number</label>
          <br>
        </div>
      </div>
    </div>
    <div id="external_wrap">
     <div class="input-field col s12 m6">
      <input id="college_name" type="text" class="validate" name="college_name">
      <label for="college_name">College Name <span class="required">*</span></label>
    </div>
    <div class="input-field col s12 m6">
      <input id="college_city" type="text" class="validate" name="college_city">
      <label for="college_city">College City <span class="required">*</span></label>
    </div>
  </div>
  <div class="input-field col s12 m12">
    <textarea id="description" class="validate materialize-textarea" name="description"></textarea>
    <label for="description">What are your skills? In what languages do you code?</label>
  </div>
  <div class="input-field col s12 m6">
    <input id="github" type="text" class="validate" name="github">
    <label for="github">Github Profie link</label>
  </div>
  <div class="input-field col s12 m6">
  <input id="linkedin" type="text" class="validate" name="linkedin">
  <label for="linkedin">Linkedin Profie link</label>
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <div class="row">

    <div class="center-align">
      <button type="button" class="waves-effect btn sub-but" id="submit_mock" onclick="submit_try();">Submit <i
        class="material-icons right">send</i>
      </button>
      <button class="g-recaptcha hide" data-sitekey="6LcTthcUAAAAANHIWtQFAdQ7Mi4B_Xchbyt1cwuX"
      data-callback="onSubmit" id="submit">Submit captcha <i class="material-icons right">send</i>
    </button>
    <input type="submit" id="real_submit" value="Submit" class="hide" name="submit">
  </div>
</div>
</form>
</div>
</div>
<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>
<script type="text/javascript" src="/js/nav_fade_scroll.js"></script>
<script>
  $("#errors").hide();
//TO SHOW VITIAN OR EXTERNAL
$("#external_wrap").hide();
$("#internal_wrap").hide();
$("input[name='internal_external']").change(function () {
  if ($("input[name='internal_external']:checked").val() == 'internal') {
    $("#external_wrap").hide();
    $("#internal_wrap").fadeIn();
  }
  else
  {
    $("#internal_wrap").hide();
    $("#external_wrap").fadeIn();
  }
});
// JUST TO HIDE OR SHOW HOSTLER DETAILS
$("#hostler_row").hide();
$("input[name='living']").change(function () {
  if ($("input[name='living']:checked").val() == 'hostler') {
    $("#hostler_row").slideDown();
  }
  else
    $("#hostler_row").slideUp();
});
</script>
<script>
  function checkerrors() {
    $("#errors").hide();
    $("#errors ul").html('');
    var errors = [];
    var name = $("#name").val();
    var regno = $("#regno").val();
    var email = $("#email").val();
    var phoneno = $("#phoneno").val();
    var userid = $("#userid").val();
    var password = $("#password").val();
    var confirmation = $("#confirmation").val();
    var internal_external= $("input[name='internal_external']:checked").val();
    var college_name = $("#college_name").val();
    var college_city = $("#college_city").val();
    var living = $("input[name='living']:checked").val();
    var block = $("#block").val();
    var roomno = $("#roomno").val();
    // Below is common
    if (!name)
      errors.push('Name cannot be blank');
    if (!regno)
      errors.push('Registration number cannot be blank');
    else if (!isRegno(regno))
      errors.push('Please Enter a Valid Registration number');
    if (!phoneno)
      errors.push('Phone number cannot be blank');
    if (!email)
      errors.push('Email cannot be blank');
    else if (!isEmail(email))
      errors.push('Please Enter a Valid Email');
    if(!userid)
      errors.push('User id cannot be blank');
    if(!password)
      errors.push('Password cannot be blank');
    else if(password!=confirmation)
      errors.push('Password and Confirm password must match');
    if(!internal_external)
      errors.push('Please Select <b>VIT Student</b> or <b>External</b>');
    //Below is for external
    if(internal_external=='external')
    {
      if(!college_name)
        errors.push('Please Enter the College Name');
      if(!college_city)
        errors.push('Please Enter College City');
    }
    //Below is for internal
    if(internal_external=='internal')
    {
      if (!living)
        errors.push('Please Select Hostler or Dayscholar');
      if (living == 'hostler' && (!block || !roomno))
        errors.push('Please enter block and room no');
    }
    if (errors.length > 0) {
      for (var i = 0; i < errors.length; i++)
        $("#errors ul").append('<li>' + errors[i] + '</li>');
      $("#errors").fadeIn(500);
      return true;
    }

    return false;
  }
  function onSubmit() {
    $("#real_submit").click();
  }
  function submit_try() {
    //if (checkerrors() == false)
    if(true)
      $("#submit").click();
  }
  function isEmail(email) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }
  function isRegno(regno) {
    var reg = /^([0-9]{2})([a-zA-Z]{3})([0-9]{3,4})$/;
    return reg.test(regno);
  }
</script>
<script type="text/javascript">
</script>

