    <link rel="stylesheet" href="/styles/app_common.css?1100">
    <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
    </style>

    <%- partial('../partials/navbar.ejs', {active: 'userShow'}) %>
    <% if(typeof user !=='undefined' && user){ %>
    <div class="container">
      <div class="heading-bg">
        <h5 class="left-align white-text main-heading">Member details</h5>
      </div>
      <div class="my-main-card hoverable white-text">
        <div class="row">
          <div class="col s12 m6 offset-m3">
            <p class="detail-title">
              UserName
            </p>
            <p class="detail-answer margin-bottom-0">
             <i class="material-icons prefix ver-align-middle">account_circle</i>
             <span class="ver-align-middle"><%=user.username%></span>
           </p>
         </div>
         <div class="col s12 m6 offset-m3">
          <p class="detail-title">
            TeamName
          </p>
          <p class="detail-answer margin-bottom-0">
            <i class="material-icons prefix ver-align-middle">people_outline</i>
            <span class="ver-align-middle"><span id="noteamname">Not in a team</span><a id="teamname_a" class="underline-wala"><span id="teamname"></span></a></span>
          </p>
        </div>
        <div class="col s12 m6">
          <p class="detail-title">
            Name
          </p>
          <p class="detail-answer margin-bottom-0">
           <%=user.name%>
         </p>
       </div>
       <div class="col s12 m6">
        <p class="detail-title">
          College
        </p>
        <p class="detail-answer margin-bottom-0">
          <% if(user.internal_external=='external'){%>
          <%=user.college_name%>
          <% } %>
          <% if(user.internal_external=='internal'){ %>
          VIT University, Vellore
          <%}%>
        </p>
      </div>
      <div class="col s12 m6">
        <p class="detail-title">
         Email
       </p>
       <p class="detail-answer margin-bottom-0">
         <%=user.email%>
       </p>
     </div>
     <div class="col s12 m6">
      <p class="detail-title">
       College Reg. no.
     </p>
     <p class="detail-answer margin-bottom-0">
       <%=user.regno%>
     </p>
   </div>
   <div class="col s12 m8 offset-m2">
    <p class="detail-title">
      Skills
    </p>
    <p class="detail-answer margin-bottom-0">
     <%=user.description %>
   </p>
 </div>
 <div class="col s12">
  <br>
  <br>
</div>
<div class="col s12 m4 offset-m4 center profile-social">
  <% if(user.github){%>
  <a href="<%=user.github%>" title="GitHub Profile" target="_blank" class="social-a social-github"><i class="smooth-transition fa fa-2x fa-github" aria-hidden="true"></i>
  </a>
  <% } %>
  <% if(user.linkedin){%>
  <a href="<%=user.linkedin%>" title="LinkedIn Profile" target="_blank" class="social-a social-linkedin"><i class="smooth-transition fa fa-2x fa-linkedin" aria-hidden="true"></i>
  </a>
  <% } %>
</div>
</div>
</div>
</div>




<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>
<script type="text/javascript">
//get the info of currently logged in user
$.get("<%=defaultUrl.url()%>navbar/anyuserteam/<%=user.id%>", function (data, status) {
  var teamname_togive="undefined";
  if (!data)
    console.log("Failure!", "Couldn't fetch navbar/getinfo");
  else {
   if(data.team){
    $("#noteamname").hide();
    $("#teamname_a").show();
    $("#teamname_a").attr("href","<%=defaultUrl.url()%>team/show/"+data.team.teamName);
    console.log(data.team.teamName);
    $("#teamname").html(data.team.teamName);
  }
  else{
    $("#noteamname").show();
    $("#teamname_a").hide();

  }

}
});
</script>
  <script type="text/javascript">
   <% if(typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err){ %>
    sweetAlert("Error", "<%=flash.err%>", "error");
    <% } %>
    <% if(typeof flash !== 'undefined' && typeof flash.success !== 'undefined' && flash.success){ %>
    sweetAlert("success", "<%=flash.success%>", "success");
    <% } %>
  </script>
<% } %>


<% if(typeof user =='undefined' || !user){ %>
<%- partial('../partials/commonScripts.ejs') %>

<script type="text/javascript">
   sweetAlert("Error", "No user Found with this id", "error");
</script>
<% } %>