    <link rel="stylesheet" href="/styles/app_common.css">
    <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
      .send-req-but{
        padding: 0.5rem 0.9rem;
        border: none !important;
        box-shadow: none !important;
        background-color: #1eb76e !important;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
      }
      .send-req-but:hover{
        background-color: #10844c !important;
      }
      .send-req-but.disabled{
        cursor: not-allowed;
        background-color: #5a5a5a !important;
        opacity: 0.8;
      }
    </style>

    <%- partial('../partials/navbar.ejs',{active: 'userShowall'}) %>
    <div class="container">
     <div class="heading-bg">
       <h5 class="left-align white-text main-heading">All Members</h5>
       <p class="margin-bottom-0 white-text">List of all members</p>
     </div>
     <div class="my-main-card hoverable">
      <% if(typeof flash !== 'undefined' && typeof flash.err !== 'undefined' && flash.err){ %>
      <div class="error center">
        <h5 class="center"> <%= flash.err %></h5>
      </div>
      <% } %>
      <% if(typeof flash !== 'undefined' && typeof flash.success != 'undefined' && flash.success){ %>
      <div class="success center">
        <h5 class="center"><%= flash.success %></h5>
      </div>
      <% } %>
      <table class="bordered striped responsive-table white-text">
        <thead>
          <td>userid</td>
          <td>Name</td>
          <td class="th-skills-td">Skills</td>
          <td>University</td>
          <td title="Send Invitation to a member to join your team (you should be an admin)">Invite to Team</td>
        </thead>
        <tbody>
          <% _.each(users, function(user) {
          var eli=false;
          _.each(memberarray, function(mem){
          if(mem.id==user.id)
          eli=true;
        });

        %>

        <tr>
          <td><a href="/user/show/<%=user.username%>" class="ver-align-middlee underline-wala"><%= user.username %></a></td>
          <td><%=user.name%></td>
          <td class="skills-td" title="Send Invitation to a member to join your team(you should be an admin)"><%=user.description %></td>
          <td>
            <% if(user.internal_external=='external'){ %>
            <%=user.college_name %>
            <% } %>
            <% if(user.internal_external=='internal'){ %>
            VIT University
            <% } %>
          </td>

          <td class="center">
            <% if(eli){ %>
            <form action="/team/sendRequest" method="POST">
              <input type="hidden" name="reciever" value="<%=user.id%>">
              <input type="submit" class="send-req-but smooth-transition" value="Invite"/>
            </form>
            <%}%>
            <% if(!eli){ %>
            <a class="send-req-but smooth-transition disabled">Invite</a>
            <%}%>
          </td>
        </tr>

        <%});%>
         <!--  <tr>
            <td><a href="viewmember.html" class="underline-wala">bodhwani</a></td>
            <td>Harshit Kedia</td>
            <td class="skills-td">I am a web developer. I do front end. I code in HTML,CSS, JS, Angular2, SASS. </td>
            <td>VIT University</td>
            <td class="center" title="Send Invitation to a member to join your team(you should be an admin)"><a href="sendrequest" class="send-req-but smooth-transition disabled">Invite</a></td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>


  <%- partial('../partials/footer.ejs') %>
  <%- partial('../partials/commonScripts.ejs') %>
<!--   <script type="text/javascript">

    function  getUserDetails(memberid){
      $.get("http://localhost:1337/user/showsingleuser/"+memberid, function (data, status) {
        if (!data)
          console.log("Failure in getting individual user info");
        else {
          console.log("successfully in getting info user");
          $("#"+memberid+"_username").text(data[0].username);
          var lin="/user/show/"+data[0].username;
          $("#"+memberid+"_anchor").attr('href',lin);
          $("#"+memberid+"_name").text(data[0].name);
          $("#"+memberid+"_description").text(data[0].description);
          if(data[0].internal_external=='internal')
            $("#"+memberid+"_college_name").text("VIT University");
          else
           $("#"+memberid+"_college_name").text(data[0].college_name);
       }
     });

      return ee;
    }
  </script> -->